/* ==========================================================================
   A basic old school grid
   ========================================================================== */
.row { margin: 0 -20px; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }
.row>div { padding: 0 20px; }

.col12{width:100%;float:left;}
.col11{width:91.666666666667%;float:left;}
.col10{width:83.333333333333%;float:left;}
.col9{width:75%;float:left;}
.col8{width:66.666666666667%;float:left;}
.col7{width:58.333333333333%;float:left;}
.col6{width:50%;float:left;}
.col5{width:41.666666666667%;float:left;}
.col4{width:33.333333333333%;float:left;}
.col3{width:25%;float:left;}
.col2{width:16.666666666667%;float:left;}
.col1{width:8.3333333333333%;float:left;}

@media only screen and (max-width: 1200px) {
  .col-lg-12{width:100%;}
  .col-lg-11{width:91.666666666667%;}
  .col-lg-10{width:83.333333333333%;}
  .col-lg-9{width:75%;}
  .col-lg-8{width:66.666666666667%;}
  .col-lg-7{width:58.333333333333%;}
  .col-lg-6{width:50%;}
  .col-lg-5{width:41.666666666667%;}
  .col-lg-4{width:33.333333333333%;}
  .col-lg-3{width:25%;}
  .col-lg-2{width:16.666666666667%;}
  .col-lg-1{width:8.3333333333333%;}
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  .col-md-12{width:100%;}
  .col-md-11{width:91.666666666667%;}
  .col-md-10{width:83.333333333333%;}
  .col-md-9{width:75%;}
  .col-md-8{width:66.666666666667%;}
  .col-md-7{width:58.333333333333%;}
  .col-md-6{width:50%;}
  .col-md-5{width:41.666666666667%;}
  .col-md-4{width:33.333333333333%;}
  .col-md-3{width:25%;}
  .col-md-2{width:16.666666666667%;}
  .col-md-1{width:8.3333333333333%;}
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .col-sm-12{width:100%;}
  .col-sm-11{width:91.666666666667%;}
  .col-sm-10{width:83.333333333333%;}
  .col-sm-9{width:75%;}
  .col-sm-8{width:66.666666666667%;}
  .col-sm-7{width:58.333333333333%;}
  .col-sm-6{width:50%;}
  .col-sm-5{width:41.666666666667%;}
  .col-sm-4{width:33.333333333333%;}
  .col-sm-3{width:25%;}
  .col-sm-2{width:16.666666666667%;}
  .col-sm-1{width:8.3333333333333%;}
}


/* Mobile */
@media only screen and (max-width: 500px) {
  .col-xs-12{width:100%;}
  .col-xs-11{width:91.666666666667%;}
  .col-xs-10{width:83.333333333333%;}
  .col-xs-9{width:75%;}
  .col-xs-8{width:66.666666666667%;}
  .col-xs-7{width:58.333333333333%;}
  .col-xs-6{width:50%;}
  .col-xs-5{width:41.666666666667%;}
  .col-xs-4{width:33.333333333333%;}
  .col-xs-3{width:25%;}
  .col-xs-2{width:16.666666666667%;}
  .col-xs-1{width:8.3333333333333%;}
}
