/* ==========================================================================
   Fonts
   ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */
.container { margin: 0 auto; position: relative; max-width: 1530px; width: 100%; padding: 0 15px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
.container { *zoom: 1; }
.container-fluid { width: 100%; padding: 0 15px; }
.container-header { width: 100%; max-width: 100%; padding: 0 30px; }
.container-small { max-width: 1000px; }

.row--25 { margin: 0 -25px; }
.row--25 > div { padding: 0 25px; }
.row--45 { margin: 0 -45px; }
.row--45 > div { padding: 0 45px; }

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
    opacity:1;
    color: #9a9ca4;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity:1;
    color: #9a9ca4;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity:1;
    color: #9a9ca4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity:1;
    color: #9a9ca4;
}

form input[type=text], form input[type=email], form textarea { border: none; background-color: #e4e6f0; font-size: 15px; padding-left: 35px; padding-right: 35px; }
form textarea { padding-top: 25px; }
form input[type=text], form input[type=email] { height: 68px; }
form input[type=submit] { height: 47px; line-height: 47px; display: block; padding-left: 40px; padding-right: 40px; color: white; font-weight: 500; font-size: 19px; font-family: 'titling-gothic-fb-compressed', sans-serif; letter-spacing: .04em; background: #eb1d2f; border: none;  }

/* ==========================================================================
   Responsive helpers
   ========================================================================== */

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
 * Responsive helpers
 */
.hidden-desktop { display: none; }

.pull-right { float: right; }
.pull-left { float: left; }

.table{ display: table; width: 100%; height: 100%; }
.table-cell{ display: table-cell; vertical-align: middle; width: 100%; }


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   General styles
   ========================================================================== */
img { max-width: 100%; }
ul, li { list-style: none; padding: 0; margin: 0; }
p { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; margin: 0; line-height: 1em; padding: 0; }
a { text-decoration: none; }
input[type="text"], input[type="email"] { -webkit-appearance:none; -webkit-border-radius:0; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio,canvas,iframe,img,svg,video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
select:focus { outline: none;  color: transparent; text-shadow: 0 0 0 #000;}

.btn { display: inline-block; }
.btn--ucase { text-transform: uppercase; }
.btn--section { -webkit-transition: all .3s ease; transition: all .3s ease; margin-top: 40px; background-color: #e4e6f0; width: 100%; height: 70px; line-height: 70px; font-size: 21px; font-weight: 500; color: #2d3038; letter-spacing: .22em; line-height: 70px; text-align: center; font-family: 'titling-gothic-fb-compressed', sans-serif; }
.btn--section:hover { color: #e4e6f0; background-color: #2d3038; }
.btn--primary { padding: 15px 40px; font-size: 19px; text-transform: uppercase; font-weight: 500; letter-spacing: .12em; color: #fff; background-color: #eb1d2f; font-family: 'titling-gothic-fb-compressed', sans-serif; }
.btn--primary i { margin-left: 10px; position: relative; top: -2px; left: 0; -webkit-transition: all .3s ease; transition: all .3s ease; }
.btn--primary:hover i { left: 5px; }
.text--date { color: #eb1d2f; font-size: 12px; font-weight: bold; text-transform: uppercase; letter-spacing: .15em; }
.font--tilt { font-family: 'titling-gothic-fb-compressed', sans-serif; letter-spacing: .04em; }

.text-center { text-align: center; }

/* ==========================================================================
   Main styles
   ========================================================================== */
html { color: #2d3038; font-family: 'aktiv-grotesk', sans-serif; font-size: 15px; line-height: 25px; }
body { background-color: #f2f3f7; }
body.open { overflow: hidden; }

.header { background-color: #2d3038; color: #fff; }
.header-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px 0; }
.header-top .left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.header .logo img { max-height: 65px; }
.header .social-links { margin-left: 30px; }
.header .social-links a { transition: all .3s ease; color: #abacaf; font-size: 20px; }
.header .social-links a:not(:last-child) { margin-right: 6px; }
.header .social-links a:hover { color: #fff; }
.header .world-cup-countdown { text-align: center; font-weight: bold; }
.header .world-cup-countdown h3 { font-size: 9px; font-weight: bold; letter-spacing: .41em; text-transform: uppercase; color: #8f8f97; margin-bottom: 10px; }
.header .world-cup-countdown .flex-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }
.header .world-cup-countdown .flex-wrapper > * { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 0 15px; }
.header .world-cup-countdown .flex-wrapper > *:not(:last-child) { border-right: solid 1px #42454c; }
.header .world-cup-countdown span { display: block; }
.header .world-cup-countdown .value { font-size: 36px; font-weight: 400; line-height: 1; letter-spacing: .04em; }
.header .world-cup-countdown .label { text-transform: uppercase; color: #8f8f97; font-size: 11px; letter-spacing: .15em; line-height: 1; margin-top: 5px; }
.header .secondary-menu .nav li { display: inline-block; position: relative; }
.header .secondary-menu .nav li:not(:last-child) { padding-right: 10px; margin-right: 10px; }
.header .secondary-menu .nav li:not(:last-child):after { color: #96989c; font-size: 10px; content: '\2022'; position: absolute; top: 2px; right: -2px; }
.header .secondary-menu .nav li a { transition: all .3s ease; letter-spacing: .18em; text-transform: uppercase; font-size: 10px; font-weight: bold; color: #96989c; }
.header .secondary-menu .nav li a:hover { color: #fff; }
.header .secondary-menu .nav li a i { margin-right: 4px; }
.header .header-bottom { border-top: solid 1px #505157; }
.header .header-bottom.is_stuck { z-index: 99; }
.header .main-menu .nav { display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #24262d; }
.header .main-menu .nav li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.header .main-menu .nav li:not(:last-child) { border-right: solid 1px #505157; }
.header .main-menu .nav li a { letter-spacing: .12em; -webkit-transition: all .3s ease; transition: all .3s ease; padding: 0 30px; border-bottom: solid 3px transparent; color: #fff; font-size: 19px; font-weight: bold; text-transform: uppercase; height: 60px; line-height: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.header .main-menu .nav li a i { font-size: 13px; margin-right: 5px; }
.header .main-menu .nav li a:hover { border-color: #eb1d2f; }
.header .main-menu .nav li.current-menu-item a { border-color: #eb1d2f; color: #eb1d2f; }

.header--podplayer { padding: 20px 0; text-align: center; }

.menu-icon { width: 30px; display: none; margin-top: 2px; }
.menu-icon.open { position: relative; z-index: 9999; }
.menu-icon span { background: #fff; height: 4px; margin: 6px 0; display: block; width: 100%; -webkit-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease; }
.menu-icon .bar1 { margin-top: 0; }
.menu-icon.open .bar2 { opacity: 0; }
.menu-icon.open .bar1 { -webkit-transform: rotate(-45deg) translate(-7px, 7px); -ms-transform: rotate(-45deg) translate(-7px, 7px); transform: rotate(-45deg) translate(-7px, 7px); }
.menu-icon.open .bar3 { -webkit-transform: rotate(45deg) translate(-7px, -7px); -ms-transform: rotate(45deg) translate(-7px, -7px); transform: rotate(45deg) translate(-7px, -7px); }

.with-background-image { background-position: center; background-size: cover; background-repeat: no-repeat; }
.section--normal-padding { margin: 40px 0; }
.section-title { margin-bottom: 40px; font-family: 'titling-gothic-fb-compressed', sans-serif; }
.section-title h2 { color: #eb1d2f; font-size: 27px; font-weight: 500; letter-spacing: .04em; text-transform: uppercase; line-height: 1.2; }
.section-title h2 i { font-size: 18px; margin-right: 5px; }
.section-title.has-icon h2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.section-title--black h2 { color: #2d3038; }
.section-title--center { text-align: center; }

.featured-article { display: flex; background-color: #fff; }
.featured-article--reversed { flex-direction: row-reverse; }
.featured-article { display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #fff; min-height: 540px; }
.featured-article > * { width: 50%; }
.featured-article .thumbnail { height: 100%; }
.featured-article .content { padding: 20px 80px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.featured-article .content h2 { font-family: 'titling-gothic-fb-compressed', sans-serif; margin-bottom: 25px; color: #2d3038; text-transform: uppercase; font-size: 57px; font-weight: bold; letter-spacing: .04em; }
.featured-article .content .meta { letter-spacing: .15em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 25px; color: #eb1d2f; font-size: 12px; font-weight: bold; text-transform: uppercase; }
.featured-article .content .meta .featured { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; font-weight: 800; padding-right: 13px; margin-right: 12px; }
.featured-article .content .meta .featured i { margin-right: 4px; }
.featured-article .content .meta .featured:after { content: '\2022'; position: absolute; right: -3px; top: 0; }
.featured-article .content .meta .date { margin-right: 25px; }
.featured-article .content .meta .comments { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.featured-article .content .meta .comments i { margin-right: 4px; }
.featured-article .content p { font-size: 15px; color: #2d3038; line-height: 1.6; margin-bottom: 40px; }
.featured-article .content p { font-size: 15px; color: #2d3038; line-height: 1.6;  }
.featured-article .content p:not(:last-child) { margin-bottom: 40px; }
.featured-article--podcast .content p { font-size: 23px; }
.featured-article--podcast .content .meta .featured:after { display: none; }

.news-ticker { position: relative; height: 75px; line-height: 75px; background-color: #d9d9e4; overflow: hidden; }
.news-ticker:before { content: ''; z-index: 2; position: absolute; left: 0; top: 0; height: 100%; width: 150px; background: linear-gradient(to right, #d9d9e4, transparent); }
.news-ticker:after { content: ''; z-index: 2; position: absolute; right: 0; top: 0; height: 100%; width: 150px; background: linear-gradient(to left, #d9d9e4, transparent); }
.news-ticker ul li { position: relative; color: #2d3038; font-size: 16px; display: inline-block; padding-right: 30px; margin-right: 30px; }
.news-ticker ul li:after { content: '\2022'; position: absolute; color: #b6bdcd; right: -5px; top: 0; }
.news-ticker ul li a { color: inherit; transition: all .3s ease; }
.news-ticker ul li a:hover { color: #eb1d2f; }

.news-wrapper { display: flex; flex-wrap: wrap; margin: -20px; }
.news-wrapper .item-wrapper { padding: 20px; width: 33.3333333%; }
.news-wrapper .item { position: relative; background-color: #fff; height: 100%; box-shadow: 0 0 55.2px 4.8px rgba(0,0,0,.05); }
.news-wrapper .item .thumbnail { padding-top: 40%; display: block; }
.news-wrapper .item .content { display: block; padding: 25px; }
.news-wrapper .item .content h2 { transition: all .3s ease; text-transform: uppercase; margin-bottom: 20px; color: #2d3038; font-size: 35px; font-weight: bold; line-height: 1.15; letter-spacing: .04em; }
.news-wrapper .item .content .meta { display: flex; align-items: center; text-transform: uppercase; margin-bottom: 20px; color: #eb1d2f; font-size: 12px; font-weight: bold; letter-spacing: .15em; }
.news-wrapper .item .content .meta .comments { margin-left: 20px; display: flex; align-items: center; }
.news-wrapper .item .content .meta .comments i { margin-right: 4px; }
.news-wrapper .item .content p { font-size: 15px; line-height: 1.6; color: #2d3038; }
.news-wrapper .item:hover h2 { color: #eb1d2f; }
.news-wrapper .item .term { transition: all .3s ease; position: absolute; z-index: 3; top: 10px; right: 10px; color: #fff; font-size: 10px; font-weight: 800; height: 25px; line-height: 25px; padding: 0 15px; text-transform: uppercase; letter-spacing: .23em; }
.news-wrapper .item .term:hover { background-color: #fff !important; color: #2d3038; }
.news-wrapper .item-wrapper--2col { width: 66.66666667%; }
.news-wrapper .item--2col .thumbnail { padding-top: 0; height: 100%; }
.news-wrapper .item--2col .content { z-index: 2; transition: all .3s ease; position: absolute; bottom: 0; left: 0; width: 100%; }
.news-wrapper .item--2col .content p { display: none; }
.news-wrapper .item--2col .content h2 { font-size: 59px; color: #fff; margin-bottom: 10px; }
.news-wrapper .item--2col .content .meta { margin-bottom: 0; }
.news-wrapper .item--2col:after { content: ''; position: absolute; z-index: 1; bottom: 0; left: 0; width: 100%; height: 60%; background: linear-gradient(to top, #2d3038, transparent); }
.news-wrapper .item--2col:hover .content { bottom: 10px; }

.previews-wrapper { display: flex; flex-wrap: wrap; margin: -20px; }
.previews-wrapper .item-wrapper { padding: 20px; width: 33.3333333%; }
.previews-wrapper .item { height: 100%; position: relative; padding-top: 74%; overflow: hidden; background-color: #df1c2e; }
.previews-wrapper .item .thumbnail { mix-blend-mode: multiply; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; -webkit-transition: all .3s ease; transition: all .3s ease; }
.previews-wrapper .item:hover .thumbnail { -webkit-transform: scale(1.05); transform: scale(1.05); }
.previews-wrapper .item .content { padding: 20px 30px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.previews-wrapper .item .content h2 { font-family: 'titling-gothic-fb-compressed', sans-serif; font-size: 40px; font-weight: bold; color: #fff; text-transform: uppercase; letter-spacing: .04em; line-height: 1.05; }
.previews-wrapper .item .term { background-color: #8b92ab; transition: all .3s ease; position: absolute; z-index: 3; top: 10px; right: 10px; color: #fff; font-size: 10px; font-weight: 800; height: 25px; line-height: 25px; padding: 0 15px; text-transform: uppercase; letter-spacing: .23em; }
.previews-wrapper .item .term:hover { background-color: #fff !important; color: #2d3038; }
.previews-wrapper .item-wrapper--2col { width: 66.66666667%; }
.previews-wrapper .item--2col { padding-top: 0; height: 100%; }

.rankings-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.rankings-wrapper .item { width: 25%; position: relative; }
.rankings-wrapper .item:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 62.5%; background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.6)), to(transparent)); background: linear-gradient(to bottom, rgba(0,0,0,.6), transparent); }
.rankings-wrapper .item .flag { padding-top: 50%; }
.rankings-wrapper .item .caption { font-family: 'titling-gothic-fb-compressed', sans-serif; -webkit-transition: all .3s ease; transition: all .3s ease; padding: 18px; position: absolute; top: 0; left: 0; font-size: 30px; font-weight: bold; letter-spacing: .04em; text-transform: uppercase; color: #fff; }
.rankings-wrapper .item:hover .caption { left: 15px; }
.rankings-wrapper .item .caption .index { color: rgba(255,255,255,.7); margin-right: 10px; }


/** Videos Archive **/
.search-archive-bar { background: #f2f3f7; }
.search-archive-bar .search-archive-input { display: block; width: 100%; height: 68px; background-color: #e4e6f0; border: 0; font-weight: 500; font-size: 20px; text-transform: uppercase; letter-spacing: .12em; }
.search-archive-bar select.search-archive-input { letter-spacing: .12em; padding-left: 35px; padding-right: 35px; color: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url(../images/angle-down-solid.svg); background-size: 20px; background-repeat: no-repeat; background-position: center right 35px; }
.search-archive-bar select.search-archive-input option { padding: 10px 0; }
.search-archive-bar input.search-archive-input { padding-left: 65px; padding-right: 35px; background-image: url(../images/search-solid.svg); background-repeat: no-repeat; background-size: 20px; background-position: center left 35px;}
.search-archive-bar input.search-archive-input::placeholder { color: #888b94; }

.featured-article--video > * { flex: auto; }
.featured-article--video .thumbnail-wrapper { flex-basis: 60%; min-width: 60%; position: relative; height: 545px; }
.featured-article--video .thumbnail-wrapper iframe { position: absolute; top: 0; width: 100%; height: 100%; }
.featured-article--video .content .meta { flex-wrap: wrap; }
.featured-article--video .content .meta .comments { min-width: 100%; margin-top: 5px; }
.featured-article--video .content h2 { font-size: 35px; line-height: 40px; }

.archive-grid--video { padding-top: 40px; margin-bottom: 120px; }
.archive-grid--video .btn-load-more-wrapper .btn { margin-top: 0; }
.post-item-full-image { display: block; height: 298px; position: relative; margin-bottom: 40px; }
.post-item-full-image .image-wrapper { content: ''; top: 0; left: 0; position: absolute; height: 100%; width: 100%; display: block; background-size: cover; background-position: center; }
.post-item-full-image .has-overlay:before { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: linear-gradient(to top, rgba(0,0,0,.8) 30% ,rgba(53, 53, 53, 0.1) 60%); }
.post-item-full-image .post-item-content { position: absolute; display: flex; justify-content: flex-start; align-items: flex-start; color: white; bottom: 0; padding: 15px 20px 15px 90px; }
.post-item-full-image .post-item-content .icon { margin-right: 15px; height: 56px; position: absolute; bottom: 55px; left: 20px; min-width: 56px; border-radius: 100%; background-color: #eb1d2f; background-image: url(../images/icon-play.svg); background-repeat: no-repeat; background-size: 12px; background-position: center; }
.post-item-full-image .post-item-content h3 { letter-spacing: .04em; font-size: 35px; text-transform: uppercase; font-weight: 800; line-height: 40px; margin-bottom: 10px; }

.post-item-full-image .post-item-content .date { margin-right: 21px; }
.post-item-full-image .post-item-content .comments i { margin-right: 10px; }
/**********************/

/** Video Detail **/
.single-video-page-embed-wrapper { height: 565px; background-color: #15161a; }
.single-video-page-embed-wrapper iframe { width: 100%; height: 100%; }
.share-links-single { display: flex; color: inherit; align-items: center; }
.share-links-single .share-text { font-size: 12px; letter-spacing: .15em; font-weight: 900; }
.share-links-single li:not(:last-child) { margin-right: 15px; }
.share-links-single li a { font-size: 30px; color: inherit; transition: all .3s ease; }
.share-links-single li a:hover { color: #eb1d2f; }
.text-area .article-heading { font-size: 35px; line-height: 40px; text-transform: uppercase; }
.text-area .article-heading , .text-area .article-date , .text-area p:not(:last-child) { margin-bottom: 23px; }
.text-area p { line-height: 1.6; }
.text-area .iframe-wrapper { overflow: hidden; padding-top: 56.25%; position: relative; }
.text-area .iframe-wrapper iframe { border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
.video-single-content { margin-bottom: 41px; }
.video-single-content .social-links { margin-top: 42px; }
.sidebar .sidebar-title { letter-spacing: .04em; font-size: 27px; line-height: 31px; text-transform: uppercase; font-weight: 500; color: #eb1d2f; margin-bottom: 40px; }
.comments-wrapper #comments-title { display: none; }
.comments-wrapper .custom-comments-title { font-size: 24px; line-height: 30px; font-weight: bold; text-transform: uppercase; margin-bottom: 35px; }
.comments-wrapper .custom-comments-title .red { color: #eb1d2f; }
.comments-wrapper .comment .comment-head { font-size: 13px; }
.comments-wrapper .comment .comment-head .comment-author { font-size: 17px; font-weight: 900; }
.comments-wrapper .comment .avatar { height: 80px; width: 80px; border-radius: 100%; }
.comments-wrapper .comment .reply { padding-bottom: 35px; }
.comments-wrapper .comment .reply a { font-size: 11px; letter-spacing: .15em; font-weight: 900; text-transform: uppercase; color: #eb1d2f; }
.comments-wrapper .commentlist { padding-left: 0; padding-top: 25px; border-top: 1px solid #e7e7e7;}
.comments-wrapper .commentlist li.comment { padding: 0 0 0 100px; }
.comments-wrapper .commentlist li.comment .children { position: relative; left: -20px; }
.comments-wrapper h3#reply-title { font-size: 39px; font-weight: bold; font-family: 'titling-gothic-fb-compressed', sans-serif; text-transform: uppercase; color: #eb1d2f; margin-top: 45px; letter-spacing: .04em; }
.comments-wrapper .reply-head { display: flex; align-items: center; }
.comments-wrapper .reply-head .avatar { border-radius: 100%; width: 80px; height: 80px; margin-right: 20px; }
.comments-wrapper .reply-head .logged-in-as .user { font-size: 17px; font-weight: 900; }
.comments-wrapper .reply-head .logged-in-as a { color: inherit; }
.comments-wrapper .reply-head .logged-in-as .logout { font-size: 12px; }
.comments-wrapper .comment-form-comment textarea { margin-top: 25px; }

.news-single--thumbnail { height: 34vw; position: relative; }
.news-single--thumbnail_preview:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #eb1d2f; mix-blend-mode: multiply; }
.news-single--thumbnail:after { content: ''; position: absolute; z-index: 1; bottom: 0; left: 0; width: 100%; height: 60%; background: linear-gradient(to top, #2d3038, transparent); }
.news-single--thumbnail .container { height: 100%; }
.news-single--thumbnail .heading { position: relative; z-index: 2; padding: 50px 0; height: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-start; }
.news-single--thumbnail .term { background-color: #eb1d2f; margin-bottom: 15px; transition: all .3s ease; color: #fff; font-size: 10px; font-weight: 800; height: 25px; line-height: 25px; padding: 0 15px; text-transform: uppercase; letter-spacing: .23em; }
.news-single--thumbnail .term:hover { background-color: #fff !important; color: #2d3038; }
.news-single--thumbnail h1 { text-transform: uppercase; color: #fff; font-weight: bold; font-size: 57px; line-height: 1.1; }
.news-single--content .pre-content { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; }
.news-single--content .pre-content .meta { display: flex; align-items: center; text-transform: uppercase; color: #eb1d2f; font-size: 12px; font-weight: bold; letter-spacing: .15em; }
.news-single--content .pre-content .meta .comments { margin-left: 20px; display: flex; align-items: center; }
.news-single--content .pre-content .meta .comments i { margin-right: 4px; }
.news-single--content .post-content { margin: 60px 0; }
.news-single--content { margin-bottom: 90px; }
.news-single--text p:first-child { font-size: 19px; }

.erl-prediction { font-size: 15px; margin-top: 23px; }
.erl-prediction h3 { font-weight: 800; text-transform: uppercase; margin-bottom: 15px; }
.erl-prediction p { color: #eb1d2f; }

.footer { background-color: #2d3038; text-align: center; padding: 80px 0 90px; }
.footer .logo img { max-height: 65px; }
.footer .logo { margin-bottom: 50px; display: inline-block; }
.footer .social-links { margin-bottom: 60px; }
.footer .social-links a { color: #abacaf; display: inline-block; font-size: 30px; }
.footer .social-links a:not(:last-child) { margin-right: 15px; }
.footer .social-links a:hover { color: #fff; }
.footer .copyright { margin-bottom: 30px; font-size: 10px; font-weight: bold; text-transform: uppercase; letter-spacing: .18em; }
.footer .copyright,
.footer .copyright .nav li a { color: #96989c; -webkit-transition: all .3s ease; transition: all .3s ease; }
.footer .copyright .nav li a:hover { color: #fff; }
.footer .copyright .nav { display: inline-block; }
.footer .copyright .nav li { display: inline-block; position: relative; }
.footer .copyright .nav li { padding-left: 15px; margin-left: 10px; }
.footer .copyright .nav li:after { color: #96989c; font-size: 10px; content: '\2022'; position: absolute; top: 0px; left: -2px; }
.footer .credits { font-size: 11px; color: #818388; }
.footer .credits a { color: inherit; font-weight: bold; }
.footer .credits a:hover { color: #fff; }

.basic-yop-poll-container { max-width: 800px !important; width: 100% !important; margin: 50px auto !important; }
.basic-yop-poll-container .basic-inner { padding: 45px 60px; }
.basic-yop-poll-container .basic-question-title h5 { font-family: 'titling-gothic-fb-compressed', sans-serif; letter-spacing: .04em; font-weight: bold; text-transform: uppercase; margin-bottom: 40px; }
.basic-yop-poll-container .basic-vote a { width: 200px; height: 50px; font-size: 19px; text-transform: uppercase; font-weight: 500; letter-spacing: .12em; color: #fff; background-color: #eb1d2f; font-family: 'titling-gothic-fb-compressed', sans-serif; line-height: 50px; text-align: center; padding: 0 !important; }
.basic-yop-poll-container .basic-vote { margin-top: 25px; }

.mobile-menu { opacity: 0; pointer-events: none; transition: all .3s ease; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.92); padding: 70px 15px 0; z-index: 999; text-align: right; }
.mobile-menu.open { opacity: 1; pointer-events: auto; }
.mobile-menu .nav li a { color: #fff; }
.mobile-menu .main-menu .nav li a { font-size: 19px; font-weight: 500; letter-spacing: .08em; font-family: 'titling-gothic-fb-compressed', sans-serif; text-transform: uppercase; }
.mobile-menu .main-menu .nav li a i { font-size: 12px; margin-right: 5px; position: relative; top: -2px; }
.mobile-menu .main-menu .nav li:not(:last-child) { margin-bottom: 3px; }
.mobile-menu .secondary-menu .nav li { line-height: 1; }
.mobile-menu .secondary-menu .nav li:not(:last-child) { margin-bottom: 5px; }
.mobile-menu .secondary-menu .nav li a { font-size: 14px; font-weight: 500; letter-spacing: .08em; font-family: 'titling-gothic-fb-compressed', sans-serif; text-transform: uppercase; }
.mobile-menu .secondary-menu { margin-bottom: 25px; }
.mobile-menu .search-form input[type=text] { width: 100%; height: 40px; border: none; padding: 0 15px; }
.mobile-menu .search-form { margin-bottom: 25px; }

.section--partners { padding: 70px 0; }
.partners-title { text-align: center; margin-bottom: 25px; }
.partners-title h2 { font-size: 12px; font-weight: 800; text-transform: uppercase; letter-spacing: .15em; }
.partners-list { display: flex; justify-content: center; align-items: center; margin: -20px; }
.partners-list a { padding: 20px; }

/* LOGIN / JOIN / FORGOT PASSWORD */
.erl-login-wrapper { box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2); padding: 45px 60px; background-color: #2d3038; max-width: 400px; width: 100%; margin: 100px auto 0; }
.erl-login-wrapper .site-logo img { max-height: 65px; }
.erl-login-wrapper .site-logo { display: inline-block; margin-bottom: 45px; }
.erl-login-form {  }
.erl-login-form .input-wrapper { margin-bottom: 10px; }
.erl-login-form .input-wrapper--text input { padding: 0 15px; width: 100%; border: none; height: 45px; background-color: #f2f2f2; }
.erl-login-form .input-wrapper--submit input { width: 100%; text-transform: uppercase; cursor: pointer; }
.erl-login-form a { color: #fff; }
.erl-login-form a:hover { color: #ff616e; }
.erl-login-form .forgot-pwd-link a { font-size: 12px; }
.erl-login-form .forgot-pwd-link { text-align: right; }
.erl-login-form .join-us-link { margin-top: 25px; color: #fff; font-family: 'titling-gothic-fb-compressed', sans-serif; letter-spacing: .15em; font-weight: bold; text-align: center; text-transform: uppercase; }
.erl-login-form .join-us-link a { color: #ff616e; }
.erl-login-form .join-us-link a:hover { text-decoration: underline; }
.erl-login-wrapper .error-box { margin-bottom: 25px; }
.erl-login-wrapper .error-box p { background-color: #fff; color: #eb1d2f; padding: 5px 10px; border-left: solid 2px; font-size: 12px; font-weight: bold; line-height: 1.4; }
.erl-login-wrapper .error-box--info p { color: #006dbd; }

.erl-login-wrapper .error-box p:not(:last-child) { margin-bottom: 5px; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1200px) {
    .featured-article--video .thumbnail-wrapper { flex-basis: 50%; min-width: 50%; }
    .featured-article .content h2 { font-size: 35px; line-height: 40px; }
    .featured-article .content .meta { flex-wrap: wrap; }
    .featured-article .content .meta span { margin-bottom: 5px; }

    .rankings-wrapper .item { width: 33.33333333%; }

    .previews-wrapper { margin: -15px; }
    .previews-wrapper .item-wrapper { width: 50%; padding: 15px; }
    .previews-wrapper .item .content h2 { font-size: 30px; }

    .news-wrapper { margin: -15px; }
    .news-wrapper .item-wrapper { width: 50%; padding: 15px; }
    .news-wrapper .item .content h2 { font-size: 30px; }
    .news-wrapper .item-wrapper--2col { width: 100%; }
    .news-wrapper .item--2col .thumbnail { padding-top: 60%; height: auto; }

    .partners-list { margin: -10px; }
    .partners-list a { padding: 10px; }
}

@media only screen and (max-width: 1100px) {
    .featured-article .content { padding: 20px 40px; }
    .post-item-full-image .post-item-content { display: block; padding-left: 20px; }
    .post-item-full-image .post-item-content .icon { position: relative; bottom: 0; left: 0; width: 30px; min-width: 1px; height: 30px; background-size: 8px; margin-bottom: 5px;  }
    .post-item-full-image .post-item-content h3 { font-size: 18px; line-height: 26px; margin-bottom: 0; }

    .menu-icon { display: block; }
    .header-bottom { display: none; }
    .header .secondary-menu { display: none; }
    .header .header-top .middle { display: none; }
    .header .logo img { max-height: 35px; }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    /* Helpers */
    .hidden-tablet { display: none; }
    .visible-tablet { display: block; }

    .rankings-wrapper .item { width: 50%; }

    .news-single--thumbnail { height: 50vw; }
    .news-single--thumbnail .heading { padding: 30px 0; }
    .news-single--thumbnail h1 { font-size: 34px; }

    .partners-list { flex-wrap: wrap; margin: -20px; }
    .partners-list a { width: 16.66666667%; padding: 20px; }
}

@media only screen and (min-width: 768px) {
    .single-video-page-embed-wrapper iframe.sticky { width: 300px; height: 150px; position:fixed; top: 80px; left: 20px; z-index: 500; }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    /* Helpers */
    .hidden-mobile { display: none; }
    .visible-mobile { display: block; }

    .featured-article { display: block; min-height: auto; }
    .featured-article > * { width: 100%; }
    .featured-article .content h2 { font-size: 21px; line-height: 26px; margin-bottom: 15px; }
    .featured-article .thumbnail { height: 250px; }
    .featured-article--video .thumbnail-wrapper { height: 250px; }
    .featured-article .content { padding: 40px 20px;}
    .post-item-full-image .post-item-content { display: block; padding-left: 20px; }
    .post-item-full-image .post-item-content .icon { position: relative; bottom: 0; left: 0; width: 30px; min-width: 1px; height: 30px; background-size: 8px; margin-bottom: 5px;  }
    .post-item-full-image .post-item-content h3 { font-size: 18px; line-height: 26px; margin-bottom: 0; }

    .rankings-wrapper .item { width: 100%; }
    .rankings-wrapper .item .caption { font-size: 20px; }

    .previews-wrapper { margin: -7.5px; }
    .previews-wrapper .item-wrapper { width: 100%; padding: 7.5px; }
    .previews-wrapper .item .content h2 { font-size: 20px; }
    .previews-wrapper .item { padding-top: 60%; }

    .news-wrapper { margin: -7.5px; }
    .news-wrapper .item-wrapper { width: 100%; padding: 7.5px; }
    .news-wrapper .item .content h2 { font-size: 20px; }
    .news-wrapper .item .content .meta { display: block; }
    .news-wrapper .item .content .meta .comments { margin-left: 0; }

    .btn--section { height: 50px; line-height: 50px; font-size: 15px; letter-spacing: .11em; }
    .btn--primary { padding: 10px 25px; font-size: 15px; letter-spacing: .12em; }

    .section-title h2 { font-size: 20px; letter-spacing: .02em; }
    .section-title h2 i { font-size: 16px; }

    .footer { padding: 40px 0; }
    .footer .logo { margin-bottom: 25px; }
    .footer .logo img { max-height: 45px; }
    .footer .social-links { margin-bottom: 25px; }
    .footer .social-links a { font-size: 20px; }
    .footer .copyright span { display: block; }
    .footer .copyright .nav li { display: block; padding-left: 0; margin-left: 0; }
    .footer .copyright .nav li:after { display: none; }

    .row--45 { margin: 0 -20px; }
    .row--45 > div { padding: 0 20px; }
    .single-video-page-embed-wrapper { height: 260px; }
    .text-area .article-heading { font-size: 26px; line-height: 32px; }
    .comments-wrapper .custom-comments-title { margin-bottom: 20px; }
    .comments-wrapper .custom-comments-title .red { display: block; }
    .comments-wrapper .commentlist li.comment { padding-left: 60px; }
    .comments-wrapper .comment .avatar { height: 40px; width: 40px; }
    .comments-wrapper .commentlist li.comment .children { left: -30px; }
    .comments-wrapper .comment .reply { padding-bottom: 20px; }
    .comments-wrapper h3#reply-title , .sidebar .sidebar-title { font-size: 21px; line-height: 27px; }
    .sidebar { margin-top: 30px; }
    .comments-wrapper h3#reply-title, .sidebar .sidebar-title { margin-bottom: 15px; }

    .news-single--thumbnail { height: 60vw; }
    .news-single--thumbnail .heading { padding: 20px 0; }
    .news-single--thumbnail h1 { font-size: 22px; }
    .news-single--content { margin-bottom: 0; }
    .news-single--content .pre-content { display: block; }
    .news-single--content .pre-content .meta,
    .news-single--content .pre-content .meta span { display: block; }
    .news-single--content .pre-content .meta .comments { margin-left: 0; }
    .news-single--content .post-content { margin: 30px 0; }

    .basic-yop-poll-container .basic-inner { padding: 20px 15px; }

    .container-header { padding: 0 15px; }

    .partners-list { flex-wrap: wrap; margin: -20px; }
    .partners-list a { width: 25%; padding: 20px; }
}

@media only screen and (max-width: 500px) {

  .partners-list { flex-wrap: wrap; margin: -15px; }
    .partners-list a { width: 33.3333333%; padding: 15px; }
}




/* ==========================================================================
   Basic Print styles
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}












