/* ==========================================================================
   Fonts
   ========================================================================== */





.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
    opacity:1;
    color: #9a9ca4;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity:1;
    color: #9a9ca4;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity:1;
    color: #9a9ca4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity:1;
    color: #9a9ca4;
}



/* ==========================================================================
   Responsive helpers
   ========================================================================== */

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
 * Responsive helpers
 */
.hidden-desktop { display: none; }

.pull-right { float: right; }
.pull-left { float: left; }

.table{ display: table; width: 100%; height: 100%; }
.table-cell{ display: table-cell; vertical-align: middle; width: 100%; }


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   General styles
   ========================================================================== */
img { max-width: 100%; }
ul, li { list-style: none; padding: 0; margin: 0; }
p { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; margin: 0; line-height: 1em; padding: 0; }
a { text-decoration: none; }
input[type="text"], input[type="email"] { -webkit-appearance:none; -webkit-border-radius:0; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio,canvas,iframe,img,svg,video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
select:focus { outline: none;  color: transparent; text-shadow: 0 0 0 #000;}



/* ==========================================================================
   Main styles
   ========================================================================== */










/** Videos Archive **/






/**********************/

/** Video Detail **/



















/* LOGIN / JOIN / FORGOT PASSWORD */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1200px) {



}

@media only screen and (max-width: 1100px) {


}

/* Tablet */
@media only screen and (max-width: 1024px) {
    /* Helpers */
    .hidden-tablet { display: none; }
    .visible-tablet { display: block; }

}

@media only screen and (min-width: 768px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
    /* Helpers */
    .hidden-mobile { display: none; }
    .visible-mobile { display: block; }


}

@media only screen and (max-width: 500px) {

}




/* ==========================================================================
   Basic Print styles
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}












