@charset "UTF-8";
.clearfix::after, .container::after, .row::after {
  content: "";
  display: table;
  clear: both;
}

/*
	Description:
	Set a rem font size with pixel fallback
	Useage:
	element{
		@include font-size(16px)
	}
*/
/*
	Description:
	Set placeholder color to inputs
	Useage:
	element{
		@placeholder-color(#cccccc)
	}
*/
/*
	Description:
	Prefix Animations and keyframes
	Useage:
	@include keyframes(fade-out) {
	  	0% { opacity: 1; }
	  	100% { opacity: 0; }
	}
	element{
	 	@include animation('5s fade-out 3');
	}
*/
/*
    Mixin transition prefix

*/
/*
    Mixin transfrorm
*/
/*
	Description:
	Vendor-prefixed CSS
	from https://github.com/HugoGiraudel/sass-boilerplate
	Useage:
	@include vendor(border-radius, 4px);
*/
/*
	Description:
	Cross browser opacity
	Useage:
	@include opacity(0.8);
*/
/*
    Vertical align direct child
*/
/*
    Equal columns with flebox
*/
/* ========================================================== */
/* 			            01. Variables                          */
/* ========================================================== */
/* ========================================================== */
/* 			            02. Colors                          */
/* ========================================================== */
/* ========================================================== */
/* 			         03. Breakpoints                          */
/* ========================================================== */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   A basic old school grid
   ========================================================================== */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row.row--gutterless {
  margin-left: 0;
  margin-right: 0;
}
.row.row--equal-columns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}
@media screen and (min-width: 767px) {
  .row.row--equal-columns {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.row.fd-row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.row.row--00 {
  margin-left: 0;
  margin-right: 0;
}
.row.row--00 > div {
  padding: 0;
}
.row.row--45 {
  margin-left: -45px;
  margin-right: -45px;
}
@media screen and (min-width: 767px) {
  .row.row--45 {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.row.row--45 > .col {
  padding-left: 45px;
  padding-right: 45px;
}
@media screen and (min-width: 767px) {
  .row.row--45 > .col {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row.row--35 {
  margin-left: -35px;
  margin-right: -35px;
}
.row.row--35 > .col {
  padding-left: 35px;
  padding-right: 35px;
}
.row.row--25 {
  margin-left: -25px;
  margin-right: -25px;
}
.row.row--25 > .col {
  padding-left: 25px;
  padding-right: 25px;
}
.row.row--80 {
  margin-left: -5.5555555556vw;
  margin-right: -5.5555555556vw;
}
.row.row--80 > .col {
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
}
.row.row--100 {
  margin-left: -6.9444444444vw;
  margin-right: -6.9444444444vw;
}
.row.row--100 > .col {
  padding-left: 6.9444444444vw;
  padding-right: 6.9444444444vw;
}
.row.row--65 {
  margin-left: -4.5138888889vw;
  margin-right: -4.5138888889vw;
}
.row.row--65 > .col {
  padding-left: 4.5138888889vw;
  padding-right: 4.5138888889vw;
}

.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.row--gutterless .col {
  padding-left: 0;
}
.row--equal-columns .col {
  float: none;
}

.col---offset-0 {
  margin-left: 0%;
}

.col--1 {
  width: 8.3333333333%;
}

.col--1-gutterless {
  padding-left: 0;
}

.col---offset-1 {
  margin-left: 8.3333333333%;
}

.col--2 {
  width: 16.6666666667%;
}

.col--2-gutterless {
  padding-left: 0;
}

.col---offset-2 {
  margin-left: 16.6666666667%;
}

.col--3 {
  width: 25%;
}

.col--3-gutterless {
  padding-left: 0;
}

.col---offset-3 {
  margin-left: 25%;
}

.col--4 {
  width: 33.3333333333%;
}

.col--4-gutterless {
  padding-left: 0;
}

.col---offset-4 {
  margin-left: 33.3333333333%;
}

.col--5 {
  width: 41.6666666667%;
}

.col--5-gutterless {
  padding-left: 0;
}

.col---offset-5 {
  margin-left: 41.6666666667%;
}

.col--6 {
  width: 50%;
}

.col--6-gutterless {
  padding-left: 0;
}

.col---offset-6 {
  margin-left: 50%;
}

.col--7 {
  width: 58.3333333333%;
}

.col--7-gutterless {
  padding-left: 0;
}

.col---offset-7 {
  margin-left: 58.3333333333%;
}

.col--8 {
  width: 66.6666666667%;
}

.col--8-gutterless {
  padding-left: 0;
}

.col---offset-8 {
  margin-left: 66.6666666667%;
}

.col--9 {
  width: 75%;
}

.col--9-gutterless {
  padding-left: 0;
}

.col---offset-9 {
  margin-left: 75%;
}

.col--10 {
  width: 83.3333333333%;
}

.col--10-gutterless {
  padding-left: 0;
}

.col---offset-10 {
  margin-left: 83.3333333333%;
}

.col--11 {
  width: 91.6666666667%;
}

.col--11-gutterless {
  padding-left: 0;
}

.col---offset-11 {
  margin-left: 91.6666666667%;
}

.col--12 {
  width: 100%;
}

.col--12-gutterless {
  padding-left: 0;
}

.col---offset-12 {
  margin-left: 100%;
}

@media only screen and (max-width: 1200px) {
  .col--lg-offset-0 {
    margin-left: 0%;
  }

  .col--lg-1 {
    width: 8.3333333333%;
  }

  .col--lg-1-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col--lg-2 {
    width: 16.6666666667%;
  }

  .col--lg-2-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col--lg-3 {
    width: 25%;
  }

  .col--lg-3-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-3 {
    margin-left: 25%;
  }

  .col--lg-4 {
    width: 33.3333333333%;
  }

  .col--lg-4-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col--lg-5 {
    width: 41.6666666667%;
  }

  .col--lg-5-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col--lg-6 {
    width: 50%;
  }

  .col--lg-6-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-6 {
    margin-left: 50%;
  }

  .col--lg-7 {
    width: 58.3333333333%;
  }

  .col--lg-7-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col--lg-8 {
    width: 66.6666666667%;
  }

  .col--lg-8-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col--lg-9 {
    width: 75%;
  }

  .col--lg-9-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-9 {
    margin-left: 75%;
  }

  .col--lg-10 {
    width: 83.3333333333%;
  }

  .col--lg-10-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col--lg-11 {
    width: 91.6666666667%;
  }

  .col--lg-11-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col--lg-12 {
    width: 100%;
  }

  .col--lg-12-gutterless {
    padding-left: 0;
  }

  .col--lg-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .hide--lg-up {
    display: none !important;
  }
}
@media only screen and (max-width: 1199px) {
  .hide--lg-down {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .col--md-offset-0 {
    margin-left: 0%;
  }

  .col--md-1 {
    width: 8.3333333333%;
  }

  .col--md-1-gutterless {
    padding-left: 0;
  }

  .col--md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col--md-2 {
    width: 16.6666666667%;
  }

  .col--md-2-gutterless {
    padding-left: 0;
  }

  .col--md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col--md-3 {
    width: 25%;
  }

  .col--md-3-gutterless {
    padding-left: 0;
  }

  .col--md-offset-3 {
    margin-left: 25%;
  }

  .col--md-4 {
    width: 33.3333333333%;
  }

  .col--md-4-gutterless {
    padding-left: 0;
  }

  .col--md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col--md-5 {
    width: 41.6666666667%;
  }

  .col--md-5-gutterless {
    padding-left: 0;
  }

  .col--md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col--md-6 {
    width: 50%;
  }

  .col--md-6-gutterless {
    padding-left: 0;
  }

  .col--md-offset-6 {
    margin-left: 50%;
  }

  .col--md-7 {
    width: 58.3333333333%;
  }

  .col--md-7-gutterless {
    padding-left: 0;
  }

  .col--md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col--md-8 {
    width: 66.6666666667%;
  }

  .col--md-8-gutterless {
    padding-left: 0;
  }

  .col--md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col--md-9 {
    width: 75%;
  }

  .col--md-9-gutterless {
    padding-left: 0;
  }

  .col--md-offset-9 {
    margin-left: 75%;
  }

  .col--md-10 {
    width: 83.3333333333%;
  }

  .col--md-10-gutterless {
    padding-left: 0;
  }

  .col--md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col--md-11 {
    width: 91.6666666667%;
  }

  .col--md-11-gutterless {
    padding-left: 0;
  }

  .col--md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col--md-12 {
    width: 100%;
  }

  .col--md-12-gutterless {
    padding-left: 0;
  }

  .col--md-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .hide--md-up {
    display: none !important;
  }
}
@media only screen and (max-width: 1023px) {
  .hide--md-down {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .col--sm-offset-0 {
    margin-left: 0%;
  }

  .col--sm-1 {
    width: 8.3333333333%;
  }

  .col--sm-1-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col--sm-2 {
    width: 16.6666666667%;
  }

  .col--sm-2-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col--sm-3 {
    width: 25%;
  }

  .col--sm-3-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-3 {
    margin-left: 25%;
  }

  .col--sm-4 {
    width: 33.3333333333%;
  }

  .col--sm-4-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col--sm-5 {
    width: 41.6666666667%;
  }

  .col--sm-5-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col--sm-6 {
    width: 50%;
  }

  .col--sm-6-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-6 {
    margin-left: 50%;
  }

  .col--sm-7 {
    width: 58.3333333333%;
  }

  .col--sm-7-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col--sm-8 {
    width: 66.6666666667%;
  }

  .col--sm-8-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col--sm-9 {
    width: 75%;
  }

  .col--sm-9-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-9 {
    margin-left: 75%;
  }

  .col--sm-10 {
    width: 83.3333333333%;
  }

  .col--sm-10-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col--sm-11 {
    width: 91.6666666667%;
  }

  .col--sm-11-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col--sm-12 {
    width: 100%;
  }

  .col--sm-12-gutterless {
    padding-left: 0;
  }

  .col--sm-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 767px) {
  .hide--sm-up {
    display: none !important;
  }
}
@media only screen and (max-width: 766px) {
  .hide--sm-down {
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {
  .col--xs-offset-0 {
    margin-left: 0%;
  }

  .col--xs-1 {
    width: 8.3333333333%;
  }

  .col--xs-1-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col--xs-2 {
    width: 16.6666666667%;
  }

  .col--xs-2-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col--xs-3 {
    width: 25%;
  }

  .col--xs-3-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-3 {
    margin-left: 25%;
  }

  .col--xs-4 {
    width: 33.3333333333%;
  }

  .col--xs-4-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col--xs-5 {
    width: 41.6666666667%;
  }

  .col--xs-5-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col--xs-6 {
    width: 50%;
  }

  .col--xs-6-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-6 {
    margin-left: 50%;
  }

  .col--xs-7 {
    width: 58.3333333333%;
  }

  .col--xs-7-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col--xs-8 {
    width: 66.6666666667%;
  }

  .col--xs-8-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col--xs-9 {
    width: 75%;
  }

  .col--xs-9-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-9 {
    margin-left: 75%;
  }

  .col--xs-10 {
    width: 83.3333333333%;
  }

  .col--xs-10-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col--xs-11 {
    width: 91.6666666667%;
  }

  .col--xs-11-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col--xs-12 {
    width: 100%;
  }

  .col--xs-12-gutterless {
    padding-left: 0;
  }

  .col--xs-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 500px) {
  .hide--xs-up {
    display: none !important;
  }
}
@media only screen and (max-width: 499px) {
  .hide--xs-down {
    display: none !important;
  }
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta-Medium.eot");
  src: local("☞Texta-Medium"), local("Texta-Medium"), url("../fonts/Texta-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Texta-Medium.woff2") format("woff2"), url("../fonts/Texta-Medium.woff") format("woff"), url("../fonts/Texta-Medium.ttf") format("truetype"), url("../fonts/Texta-Medium.svg#Texta-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta-Black.eot");
  src: local("☞Texta-Black"), local("Texta-Black"), url("../fonts/Texta-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Texta-Black.woff2") format("woff2"), url("../fonts/Texta-Black.woff") format("woff"), url("../fonts/Texta-Black.ttf") format("truetype"), url("../fonts/Texta-Black.svg#Texta-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta-Bold.eot");
  src: local("☞Texta-Bold"), local("Texta-Bold"), url("../fonts/Texta-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Texta-Bold.woff2") format("woff2"), url("../fonts/Texta-Bold.woff") format("woff"), url("../fonts/Texta-Bold.ttf") format("truetype"), url("../fonts/Texta-Bold.svg#Texta-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeueBold.eot");
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 79.8611111111vw;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
.container.container-1210 {
  max-width: 84.0277777778vw;
}
@media (max-width: 1024px) {
  .container.container-1210 {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .container.container-1210 {
    max-width: 100%;
  }
}
.container.container-980 {
  max-width: 68.0555555556vw;
}
@media (max-width: 1024px) {
  .container.container-980 {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .container.container-980 {
    max-width: 100%;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  opacity: 1;
}

/* ==========================================================================
   Responsive helpers
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Responsive helpers
 */
.hidden-desktop {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   General styles
   ========================================================================== */
img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1em;
  padding: 0;
}

h1,
h2 {
  font-family: "BebasNeue";
}

a {
  text-decoration: none;
}

input[type=text],
input[type=email],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
html {
  color: #2d3038;
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 1.0416666667vw;
  line-height: 1.6;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 1.3888888889vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}

body {
  background-color: #f2f3f7;
  font-family: "Texta";
}
body.open {
  overflow: hidden;
}

main {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.with-background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--normal-padding {
  margin: 2.7777777778vw 0;
}
@media screen and (max-width: 1024px) {
  .section--normal-padding {
    margin: 4.1666666667vw 0;
  }
}
@media screen and (max-width: 767px) {
  .section--normal-padding {
    margin: 30px 0;
  }
}

.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1111111111vw;
  font-weight: bold;
  padding: 0.6944444444vw 2.2222222222vw 0.7638888889vw;
  letter-spacing: 0.2777777778vw;
  text-align: center;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px;
  }
}
.btn.btn-purple {
  border: 2px solid #B019D4;
  color: #B019D4;
}
.btn.btn-white {
  border: 2px solid #fff;
  color: #fff;
}

.diagonal-line {
  position: absolute;
  width: 2px;
  height: 83.3333333333vw;
  background-color: #b019d4;
  border-radius: 4px;
  right: 0;
  margin: 0 0 0 -2px;
  transform: rotate(45deg);
  transform-origin: 100% 0;
}
@media (max-width: 767px) {
  .diagonal-line {
    top: 40%;
    height: 440px;
    width: 1px;
  }
}

.block {
  display: block;
}

textarea {
  resize: none;
}

.text--pink {
  color: #B019D4;
}

.text--center {
  text-align: center;
}

.text-bebas {
  font-family: "BebasNeue";
}
.text-bebas--big {
  font-size: 6.9444444444vw;
  line-height: 6.9444444444vw;
  text-transform: uppercase;
  letter-spacing: 0.018em;
}
@media (max-width: 767px) {
  .text-bebas--big {
    font-size: 40px;
    line-height: 40px;
  }
}
.text-bebas--ultra-big {
  font-size: 16.1111111111vw;
  line-height: 9.7222222222vw;
  letter-spacing: 0.02667em;
}
@media (max-width: 767px) {
  .text-bebas--ultra-big {
    font-size: 50px;
    line-height: 50px;
  }
}
.text-bebas--white {
  color: white;
}
.text-bebas--no-letter-spacing {
  letter-spacing: 0;
}
.text-bebas--pink {
  color: #B019D4;
}
.text-bebas--stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #B019D4;
}
.text-bebas--stroke-white {
  -webkit-text-stroke: 1px white;
}

.content-area {
  color: white;
}
.content-area p {
  font-size: 1.25vw;
  line-height: 2.0833333333vw;
  margin-bottom: 2.0833333333vw;
}
.content-area p a {
  color: #B019D4;
}
@media (max-width: 767px) {
  .content-area p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.content-area p:last-child {
  margin-bottom: 0;
}
.content-area > a {
  color: #B019D4;
  font-size: 1.25vw;
  line-height: 2.0833333333vw;
}
@media (max-width: 767px) {
  .content-area > a {
    font-size: 18px;
    line-height: 30px;
  }
}
.content-area .case-study-link {
  font-size: 0.9722222222vw;
  margin-top: 3.0555555556vw;
  font-weight: bold;
  letter-spacing: 0.3125em;
  display: block;
}
@media (max-width: 767px) {
  .content-area .case-study-link {
    font-size: 14px;
    margin-top: 30px;
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 6.9444444444vw;
  background-color: #1B1926;
  z-index: 99;
  position: absolute;
}
@media (max-width: 1024px) {
  .header {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .header {
    height: 52px;
    padding-left: 52px;
  }
}
.header .logo img {
  height: 4.0277777778vw;
}
@media (max-width: 767px) {
  .header .logo img {
    height: 30px;
  }
}

.header-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.9444444444vw;
  height: 100%;
  background: #B019D4 url(../images/toggle.svg) center center no-repeat;
  background-size: 30% auto;
  display: block;
  text-indent: -999999px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .header-toggle {
    width: 70px;
  }
}
@media (max-width: 767px) {
  .header-toggle {
    width: 52px;
  }
}

.body-menu-open .header-toggle {
  background-image: url(../images/icon-close.svg);
}
.body-menu-open .header {
  position: fixed;
}

.menu-wrapper {
  background-color: #B019D4;
  background-image: url(../images/bg-clouds-menu.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: fixed;
  top: 6.9444444444vw;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}
@media (max-width: 1024px) {
  .menu-wrapper {
    top: 70px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper {
    top: 52px;
  }
}
.menu-wrapper:after {
  content: "";
  position: absolute;
  bottom: 2.7777777778vw;
  right: 3.4722222222vw;
  background: url(../images/logo-white.svg) no-repeat;
  width: 5.5555555556vw;
  height: 7.7777777778vw;
  background-size: contain;
}
@media (max-width: 1024px) {
  .menu-wrapper:after {
    bottom: 20px;
    right: 15px;
    width: 70px;
    height: 90px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper:after {
    bottom: 20px;
    right: 15px;
    width: 50px;
    height: 70px;
  }
}
.menu-wrapper .menu {
  margin-top: 8.3333333333vw;
}
@media (max-width: 1024px) {
  .menu-wrapper .menu {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper .menu {
    margin-top: 50px;
  }
}
.menu-wrapper .menu li {
  display: block;
  line-height: 1;
  margin-bottom: 0.6944444444vw;
}
@media (max-width: 1024px) {
  .menu-wrapper .menu li {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper .menu li {
    margin-bottom: 10px;
  }
}
.menu-wrapper .menu li a {
  text-transform: uppercase;
  font-size: 3.4722222222vw;
  font-family: "BebasNeue";
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
@media (max-width: 1024px) {
  .menu-wrapper .menu li a {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper .menu li a {
    font-size: 30px;
  }
}
.menu-wrapper .menu li.current-menu-item a, .menu-wrapper .menu li a:hover {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: none;
}
.menu-wrapper .social-icons {
  margin-top: 3.125vw;
}
@media (max-width: 1024px) {
  .menu-wrapper .social-icons {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper .social-icons {
    margin-top: 30px;
  }
}
.menu-wrapper .social-icons a {
  margin-right: 1.7361111111vw;
}
@media (max-width: 1024px) {
  .menu-wrapper .social-icons a {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .menu-wrapper .social-icons a {
    margin-right: 20px;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  padding: 5.5555555556vw 0 4.8611111111vw;
  background: #1b1926;
  font-size: 1.0416666667vw;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 1024px) {
  footer {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  footer {
    font-size: 15px;
    padding: 40px 0 30px;
  }
}
footer a {
  color: #B019D4;
  font-size: 1.0416666667vw;
  font-weight: 500;
}
@media (max-width: 1024px) {
  footer a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  footer a {
    font-size: 15px;
  }
}
footer .footer-top .menu-sm {
  margin-bottom: 1.7361111111vw;
}
@media (max-width: 767px) {
  footer .footer-top .menu-sm {
    margin-bottom: 30px;
  }
}
footer .footer-top .menu-sm li {
  display: block;
  margin-bottom: 0.2777777778vw;
}
@media (max-width: 767px) {
  footer .footer-top .menu-sm li {
    margin-bottom: 5px;
  }
}
footer .footer-top .menu-sm li a {
  color: #fff;
  font-size: 1.0416666667vw;
  font-weight: 500;
}
@media (max-width: 1024px) {
  footer .footer-top .menu-sm li a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  footer .footer-top .menu-sm li a {
    font-size: 15px;
  }
}
footer .footer-top p {
  color: #fff;
  margin-bottom: 1.3888888889vw;
}
footer .footer-top h4 {
  color: #B019D4;
  font-size: 1.3888888889vw;
  text-transform: uppercase;
  font-family: "BebasNeue";
  margin-bottom: 0.6944444444vw;
}
@media (max-width: 1024px) {
  footer .footer-top h4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  footer .footer-top h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  footer .footer-top .menu-lg {
    margin-bottom: 30px;
  }
}
footer .footer-top .menu-lg li {
  display: block;
  margin-bottom: 0.2777777778vw;
}
footer .footer-top .menu-lg li.current-menu-item a {
  color: #B019D4;
}
@media (max-width: 767px) {
  footer .footer-top .menu-lg li {
    margin-bottom: 5px;
  }
}
footer .footer-top .menu-lg li a {
  color: #fff;
  font-size: 1.3888888889vw;
  font-family: "BebasNeue";
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  footer .footer-top .menu-lg li a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  footer .footer-top .menu-lg li a {
    font-size: 20px;
  }
}
footer .footer-top .col--5 img {
  float: right;
}
@media (max-width: 767px) {
  footer .footer-top .col--5 img {
    position: absolute;
    width: 60px;
    bottom: 0;
    right: 15px;
  }
}
footer .footer-top .social-icons {
  margin-top: 30px;
  display: block;
}
footer .footer-top .social-icons .icon {
  margin-right: 15px;
}
footer .footer-bottom {
  padding-top: 1.3888888889vw;
}
@media (max-width: 767px) {
  footer .footer-bottom {
    padding-top: 60px;
  }
}
footer .footer-bottom p {
  line-height: 32px;
}
footer .footer-bottom .social-icons {
  float: right;
}
footer .footer-bottom .icon {
  margin-left: 1.3888888889vw;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* ==========================================================================
   Navigation
   ========================================================================== */
/* ==========================================================================
   Homepage
   ========================================================================== */
.main-content {
  padding-top: 6.9444444444vw;
  background: #1b1926;
}
@media (max-width: 1024px) {
  .main-content {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .main-content {
    padding-top: 52px;
  }
}

.hero-home {
  height: 53.4722222222vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 767px) {
  .hero-home {
    height: 280px;
  }
}
.hero-home:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7.6388888889vw;
  display: block;
  background: url(../images/triangle-top-purple.svg) center top no-repeat;
  background-size: 100% 110%;
}

.hero-home-title {
  background-color: #1b1926;
  text-align: center;
  padding-bottom: 2.4305555556vw;
  position: relative;
}
@media (max-width: 767px) {
  .hero-home-title {
    padding-bottom: 50px;
  }
}
.hero-home-title .text {
  top: -10.4166666667vw;
  position: relative;
  z-index: 2;
}
.hero-home-title .text h1 {
  font-family: "BebasNeue";
  text-shadow: 0px 0px 87px #C51BDE;
  font-size: 16.1111111111vw;
  color: #fff;
  display: inline;
  background: none;
  line-height: 1;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .hero-home-title .text h1 {
    font-size: 116px;
    line-height: 0.8;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
.hero-home-title .text p {
  color: #fff;
  font-family: "BebasNeue";
  font-size: 4.8611111111vw;
  position: relative;
  margin-top: -2.0833333333vw;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
@media (max-width: 767px) {
  .hero-home-title .text p {
    font-size: 42px;
    padding: 0 15px;
    line-height: 1;
    margin-top: 0px;
  }
}

.line-vertical-center {
  position: absolute;
  width: 2px;
  height: 11.5277777778vw;
  background-color: #b019d4;
  border-radius: 4px;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -2px;
  z-index: 10;
}
@media (max-width: 767px) {
  .line-vertical-center {
    height: 80px;
  }
}
.line-vertical-center.line-vertical-center-top {
  bottom: auto;
  top: 4.1666666667vw;
}
.line-vertical-center.line-vertical-center-top-alt {
  top: 1.0416666667vw;
  bottom: auto;
}
@media (max-width: 767px) {
  .line-vertical-center.line-vertical-center-top-alt {
    top: -15px;
  }
}
.line-vertical-center.line-vertical-center-top-over {
  bottom: auto;
  top: -5.7638888889vw;
}
@media (max-width: 767px) {
  .line-vertical-center.line-vertical-center-top-over {
    top: -40px;
  }
}

.purple-text {
  color: #B019D4;
}

.home-text-1 {
  background-color: #1b1926;
  padding-top: 4.1666666667vw;
  padding-bottom: 1.3888888889vw;
  color: #fff;
}
.home-text-1 h2 {
  max-width: 42.3611111111vw;
  color: #fff;
  font-size: 6.9444444444vw;
  margin-bottom: 0.6944444444vw;
}
@media (max-width: 767px) {
  .home-text-1 h2 {
    font-size: 50px;
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.home-text-1 h3 {
  font-size: 3.4722222222vw;
  color: #fff;
  padding-left: 16.9444444444vw;
  margin-bottom: 2.0833333333vw;
}
@media (max-width: 767px) {
  .home-text-1 h3 {
    font-size: 25px;
    padding-left: 0;
    margin-bottom: 15px;
  }
}
.home-text-1 p {
  font-size: 1.3888888889vw;
  font-weight: 700;
  margin-bottom: 2.0833333333vw;
}
@media (max-width: 1024px) {
  .home-text-1 p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .home-text-1 p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.home-text-1 h4 {
  color: #B019D4;
  font-size: 3.4722222222vw;
  font-weight: 700;
}
.home-text-1 .btn {
  margin-top: 0.6944444444vw;
}
@media (max-width: 767px) {
  .home-text-1 .btn {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
    display: block;
  }
}

.home-solutions-intro {
  position: relative;
  background-color: #1b1b27;
  padding-top: 18.75vw;
  padding-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .home-solutions-intro {
    padding-top: 120px;
    padding-bottom: 10px;
  }
}
.home-solutions-intro h2 {
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 10.4166666667vw;
  line-height: 0.9;
}
@media (max-width: 767px) {
  .home-solutions-intro h2 {
    font-size: 75px;
  }
}
.home-solutions-intro p {
  font-size: 2.0833333333vw;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  padding-top: 16.6666666667vw;
}
@media (max-width: 1024px) {
  .home-solutions-intro p {
    font-size: 18px;
    line-height: 1.3;
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .home-solutions-intro p {
    font-size: 18px;
    padding-top: 10px;
    line-height: 1.3;
  }
}

.home-solutions-part {
  background-color: #1b1b27;
  padding: 13.1944444444vw 0 11.8055555556vw;
  color: #fff;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-solutions-part {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
.home-solutions-part .text {
  max-width: 34.7222222222vw;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .home-solutions-part .text {
    max-width: 100%;
  }
}
.home-solutions-part .text h2 {
  font-size: 8.3333333333vw;
  margin-bottom: 1.7361111111vw;
}
@media (max-width: 767px) {
  .home-solutions-part .text h2 {
    font-size: 72px;
    margin-bottom: 0;
  }
}
.home-solutions-part .text p {
  font-size: 2.0833333333vw;
  margin-bottom: 1.7361111111vw;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .home-solutions-part .text p {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.3;
  }
}
.home-solutions-part .text .read-more {
  font-size: 0.9722222222vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #B019D4;
  letter-spacing: 0.2083333333vw;
}
@media (max-width: 767px) {
  .home-solutions-part .text .read-more {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
.home-solutions-part .img-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -10.4166666667vw;
  z-index: 1;
}
@media (max-width: 767px) {
  .home-solutions-part .img-wrapper {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    margin: 0 -60px;
    width: auto;
    height: 230px;
  }
}
.home-solutions-part .img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.home-solutions-part.home-solutions-part-alt .img-wrapper {
  right: 50%;
  left: auto;
  margin-left: -3.4722222222vw;
}
@media (max-width: 767px) {
  .home-solutions-part.home-solutions-part-alt .img-wrapper {
    right: auto;
    margin-left: -60px;
  }
}
.home-solutions-part.home-solutions-part-alt .text {
  float: right;
}
@media (max-width: 767px) {
  .home-solutions-part.home-solutions-part-last {
    padding-bottom: 70px;
  }
}

.home-testimonials {
  background-color: #fff;
  padding: 6.9444444444vw 0;
  position: relative;
}
@media (max-width: 767px) {
  .home-testimonials {
    padding: 60px 0 50px;
  }
}
.home-testimonials .diagonal-line {
  position: absolute;
  width: 2px;
  height: 83.3333333333vw;
  background-color: #b019d4;
  border-radius: 4px;
  top: 17%;
  right: 0;
  margin: 0 0 0 -2px;
  z-index: 2;
  transform: rotate(45deg);
  transform-origin: 100% 0;
}
@media (max-width: 767px) {
  .home-testimonials .diagonal-line {
    top: 40%;
    height: 440px;
    width: 1px;
  }
}
.home-testimonials .text h2 {
  font-size: 10.4166666667vw;
  color: #1B1926;
  line-height: 0.9;
}
@media (max-width: 767px) {
  .home-testimonials .text h2 {
    font-size: 75px;
  }
}
.home-testimonials .text h2 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #1B1926;
  display: block;
}
.home-testimonials .testimonials-slider {
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider {
    padding-top: 30px;
  }
}
.home-testimonials .testimonials-slider .slide {
  position: relative;
  padding: 6.25vw 0;
}
.home-testimonials .testimonials-slider .slide img {
  width: 40.1388888889vw;
  float: right;
  box-shadow: 0px 0px 80px rgba(197, 27, 222, 0.3);
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slide img {
    float: none;
    width: 100%;
    display: block;
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slide .img {
    float: none;
    width: auto;
    margin: 0 -15px;
  }
}
.home-testimonials .testimonials-slider .slide .text {
  float: left;
  width: 31.9444444444vw;
  text-align: right;
  padding-top: 9.0277777778vw;
}
@media (max-width: 1024px) {
  .home-testimonials .testimonials-slider .slide .text {
    width: 36.8055555556vw;
  }
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slide .text {
    float: none;
    width: 100%;
    padding-top: 70px;
  }
}
.home-testimonials .testimonials-slider .slide .text h4 {
  color: #B019D4;
  font-size: 2.0833333333vw;
  font-weight: bold;
  margin-bottom: 1.7361111111vw;
}
@media (max-width: 1024px) {
  .home-testimonials .testimonials-slider .slide .text h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slide .text h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.home-testimonials .testimonials-slider .slide .text p {
  font-size: 1.3888888889vw;
  font-weight: bold;
  margin-bottom: 2.0833333333vw;
}
@media (max-width: 1024px) {
  .home-testimonials .testimonials-slider .slide .text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slide .text p {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
.home-testimonials .testimonials-slider .slide .text .read-more {
  font-size: 0.9722222222vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #B019D4;
  letter-spacing: 0.2083333333vw;
}
@media (max-width: 1024px) {
  .home-testimonials .testimonials-slider .slide .text .read-more {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slide .text .read-more {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
.home-testimonials .testimonials-slider .slick-dots {
  position: absolute;
  top: 10px;
  bottom: auto;
  text-align: left;
  width: 100%;
  max-width: 79.8611111111vw;
  padding: 0 27px;
  left: 50%;
  margin-left: -39.9305555556vw;
}
@media (max-width: 1024px) {
  .home-testimonials .testimonials-slider .slick-dots {
    left: 44%;
  }
}
@media (max-width: 767px) {
  .home-testimonials .testimonials-slider .slick-dots {
    top: 0;
    max-width: 100%;
    left: auto;
    margin: 0;
    padding: 0 15px;
  }
}
.home-testimonials .testimonials-slider .slick-dots li button {
  width: 1.1111111111vw;
  height: 1.1111111111vw;
  border: 2px solid #B019D4;
}
.home-testimonials .testimonials-slider .slick-dots li button:before {
  display: none;
}
.home-testimonials .testimonials-slider .slick-dots li.slick-active button {
  background-color: #B019D4;
}

.get-in-touch {
  padding: 16.6666666667vw 0 8.3333333333vw;
  background: url(../images/bg-get-touch.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}
.get-in-touch--client-stories {
  padding-top: 10.7638888889vw;
}
.get-in-touch--client-stories .line-vertical-center {
  top: -5vw;
}
.get-in-touch.no-triangle:before {
  display: none;
}
@media (max-width: 767px) {
  .get-in-touch {
    padding: 95px 0 50px;
  }
}
.get-in-touch h2 {
  font-size: 6.9444444444vw;
  color: #B019D4;
  line-height: 0.95;
}
@media (max-width: 767px) {
  .get-in-touch h2 {
    font-size: 50px;
    line-height: 1;
  }
}
.get-in-touch h2 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #B019D4;
  display: block;
  font-size: 15.625vw;
}
@media (max-width: 767px) {
  .get-in-touch h2 span {
    font-size: 112px;
  }
}
.get-in-touch p {
  color: #fff;
  font-size: 2.0833333333vw;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 2.0833333333vw;
  padding-top: 2.7777777778vw;
}
@media (max-width: 767px) {
  .get-in-touch p {
    font-size: 16px;
    margin-bottom: 30px;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .get-in-touch .btn {
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
    display: block;
  }
}
.get-in-touch:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 7.6388888889vw;
  display: block;
  background: url(../images/triangle-top-white.svg) center bottom no-repeat;
  background-size: 100% 105%;
}

.contact-hero {
  height: 46.875vw;
  padding-top: 9.7222222222vw;
  position: relative;
}
@media (max-width: 767px) {
  .contact-hero {
    height: auto;
    margin-bottom: 40px;
  }
}
.contact-hero .container {
  position: relative;
  z-index: 2;
}
.contact-hero h1 {
  color: #fff;
  font-size: 6.9444444444vw;
  line-height: 0.9;
}
@media (max-width: 767px) {
  .contact-hero h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
.contact-hero h1 span {
  display: block;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 16.1111111111vw;
}
@media (max-width: 767px) {
  .contact-hero h1 span {
    font-size: 75px;
    line-height: 75px;
  }
}
.contact-hero p {
  font-size: 2.0833333333vw;
  color: #fff;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .contact-hero p {
    font-size: 18px;
    line-height: 20px;
  }
}
.contact-hero:after {
  content: "";
  width: 89.7916666667vw;
  height: 67.4305555556vw;
  background: url(../images/cloud1.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  left: -35%;
  top: -25%;
  transform: rotate(-10deg);
}
.contact-hero:before {
  content: "";
  width: 89.7916666667vw;
  height: 67.4305555556vw;
  background: url(../images/cloud2.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  right: -50%;
  top: -75%;
  transform: rotate(-10deg);
}

.contact-main {
  font-size: 6.6666666667vw;
  font-family: "BebasNeue";
  color: #fff;
  padding-top: 5.5555555556vw;
}
@media (max-width: 767px) {
  .contact-main {
    font-size: 40px;
    line-height: 40px;
  }
  .contact-main ul {
    margin-top: 10px;
  }
}
.contact-main ul {
  margin-bottom: 2.7777777778vw;
}
.contact-main ul li {
  line-height: 1;
  margin-bottom: 0.6944444444vw;
}
.contact-main ul li a {
  line-height: 1;
  text-transform: uppercase;
  color: #B019D4;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #B019D4;
}
.contact-main ul li.active a {
  -webkit-text-fill-color: #B019D4;
  -webkit-text-stroke: none;
}
.contact-main .line-vertical-left {
  width: 2px;
  height: 11.5277777778vw;
  background-color: #b019d4;
  border-radius: 4px;
  z-index: 10;
}
@media (max-width: 767px) {
  .contact-main .line-vertical-left {
    height: 80px;
  }
}
.contact-main .would-like p {
  color: #B019D4;
  line-height: 1;
}

.contact-where {
  margin-top: 5.2083333333vw;
  padding-bottom: 5.9027777778vw;
  position: relative;
  margin-bottom: 5.5555555556vw;
}
.contact-where .diagonal-line {
  z-index: auto;
  top: -10.4166666667vw;
  height: 77.0833333333vw;
}
.contact-where .contact-where-text {
  margin-top: 6.9444444444vw;
}
@media (max-width: 767px) {
  .contact-where .contact-where-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .contact-where .contact-where-text a {
    font-size: 30px;
    line-height: 30px;
    margin: 0 10px;
  }
  .contact-where .contact-where-text a:first-child {
    margin-left: 0;
  }
}
.contact-where .contact-where-text a.active {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px transparent;
}
.contact-where .contact-card .contact-card-body {
  display: none;
}
.contact-where .contact-card .contact-card-body.active {
  display: block;
}
.contact-where .contact-card img {
  width: 100%;
}
.contact-where .contact-card .contact-card-text {
  background: white;
  padding-left: 2.4305555556vw;
  padding-bottom: 3.2638888889vw;
}
@media (max-width: 767px) {
  .contact-where .contact-card .contact-card-text {
    padding: 15px;
  }
}
.contact-where .contact-card .contact-card-text .contact-card-big-text {
  margin-top: -1.0416666667vw;
}
@media (max-width: 767px) {
  .contact-where .contact-card .contact-card-text .contact-card-big-text {
    font-size: 40px;
    line-height: 40px;
  }
}
.contact-where .contact-card .contact-card-text address {
  font-style: normal;
  font-size: 1.6666666667vw;
  line-height: 2.7777777778vw;
}
@media (max-width: 767px) {
  .contact-where .contact-card .contact-card-text address {
    font-size: 18px;
    line-height: 18px;
  }
}

.section-find-more {
  background: url(../images/cloud1.png), linear-gradient(rgba(176, 25, 212, 0.8), rgba(176, 25, 212, 0.8)), linear-gradient(rgba(176, 25, 212, 0.8), rgba(176, 25, 212, 0.8));
  -webkit-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  padding: 7.4305555556vw 0;
}
@media (max-width: 767px) {
  .section-find-more {
    padding: 40px 0 20px;
  }
}
.section-find-more .find-more-link {
  font-size: 2.7777777778vw;
  line-height: 2.7777777778vw;
  letter-spacing: 0.045em;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  max-width: 64.9305555556vw;
  margin-left: auto;
  margin-right: auto;
}
.section-find-more .find-more-link:nth-child(2) {
  margin-top: 6.9444444444vw;
}
@media (max-width: 767px) {
  .section-find-more .find-more-link {
    display: block;
    font-size: 40px;
    line-height: 40px;
    max-width: 100%;
  }
}
.section-find-more .find-more-link h3 {
  position: relative;
  display: inline-block;
  padding-bottom: 0.3472222222vw;
  margin-right: 4.1666666667vw;
}
.section-find-more .find-more-link h3:before {
  content: "";
  display: block;
  height: 2px;
  width: calc(100% + 20px);
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
}
@media (max-width: 767px) {
  .section-find-more .find-more-link h3:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .section-find-more .find-more-link h3 {
    font-size: 30px;
    line-height: 30px;
  }
}
.section-find-more .find-more-link .arrow {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
@media (max-width: 767px) {
  .section-find-more .find-more-link .arrow {
    display: block;
    margin-top: -15px;
    max-width: 50px;
  }
  .section-find-more .find-more-link .arrow svg {
    width: 100%;
  }
}
.section-find-more .find-more-link:hover .arrow {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}
@media (max-width: 767px) {
  .section-find-more .find-more-link:hover .arrow {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.contact-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #1B1926;
  overflow: auto;
  padding-bottom: 6.9444444444vw;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.contact-popup-wrapper::-webkit-scrollbar {
  width: 5px;
}
.contact-popup-wrapper::-webkit-scrollbar-track {
  background: #3e094b;
}
.contact-popup-wrapper::-webkit-scrollbar-thumb {
  background: #B019D4;
  border-radius: 3px;
}
.contact-popup-wrapper::-webkit-scrollbar-thumb:hover {
  background: #bf22e5;
}
.contact-popup-wrapper.active {
  pointer-events: auto;
  opacity: 1;
}
.contact-popup-wrapper .close-popup {
  position: absolute;
  width: 6.9444444444vw;
  height: 6.9444444444vw;
  background: #B019D4;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact-popup-wrapper .close-popup {
    width: 50px;
    height: 50px;
  }
}
.contact-popup-wrapper .popup-container {
  max-width: 41.6666666667vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 6.9444444444vw;
}
@media (max-width: 767px) {
  .contact-popup-wrapper .popup-container {
    max-width: 100%;
    padding: 60px 15px;
  }
}
.contact-popup-wrapper .popup-container .logo {
  display: block;
  margin-bottom: 5.5555555556vw;
}
.contact-popup-wrapper .contact-form-wrapper {
  margin-top: 5.5555555556vw;
  padding: 0 1.7361111111vw;
}
.contact-popup-wrapper .contact-form-wrapper input:not([type=submit]), .contact-popup-wrapper .contact-form-wrapper textarea {
  width: 100%;
  margin-bottom: 2.7777777778vw;
  background: transparent;
  padding-bottom: 1.6666666667vw;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.25vw;
  color: white;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
@media (max-width: 767px) {
  .contact-popup-wrapper .contact-form-wrapper input:not([type=submit]), .contact-popup-wrapper .contact-form-wrapper textarea {
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}
.contact-popup-wrapper .contact-form-wrapper input:not([type=submit]):focus, .contact-popup-wrapper .contact-form-wrapper textarea:focus {
  outline: none;
  color: #B019D4;
  border-color: #B019D4;
}
.contact-popup-wrapper .contact-form-wrapper input:not([type=submit])::placeholder, .contact-popup-wrapper .contact-form-wrapper textarea::placeholder {
  color: white;
}
.contact-popup-wrapper .contact-form-wrapper input[type=submit] {
  width: 13.8888888889vw;
  height: 3.6805555556vw;
  line-height: 3.125vw;
  text-align: center;
  font-size: 1.1111111111vw;
  letter-spacing: 0.3125em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact-popup-wrapper .contact-form-wrapper input[type=submit] {
    font-size: 16px;
    width: 200px;
    height: 53px;
    line-height: 45px;
  }
}

.about-top-section {
  padding-top: 10.0694444444vw;
}
@media (max-width: 767px) {
  .about-top-section .top-section-text h1 {
    text-align: center;
  }
}
.about-top-section .top-section-text h1 span {
  position: relative;
  display: block;
  margin-top: 2.7777777778vw;
  text-align: right;
}
@media (max-width: 767px) {
  .about-top-section .top-section-text h1 span {
    display: inline-block;
    margin-top: 10px;
  }
}
.about-top-section .top-section-paragraph {
  padding-left: 6.25vw;
  margin-top: 14.9305555556vw;
  color: white;
}
@media (max-width: 767px) {
  .about-top-section .top-section-paragraph {
    padding-left: 0;
    margin-top: 10px;
  }
}
.about-top-section .top-section-paragraph p {
  font-size: 2.0833333333vw;
  line-height: 2.7777777778vw;
  font-weight: 900;
}
@media (max-width: 767px) {
  .about-top-section .top-section-paragraph p {
    font-size: 20px;
    line-height: 30px;
  }
}

.about-top-intro {
  position: relative;
  margin-top: 8.6805555556vw;
  margin-bottom: 24.3055555556vw;
}
@media (max-width: 767px) {
  .about-top-intro {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.about-top-intro .line-vertical-center {
  top: -7.6388888889vw;
}
@media (max-width: 767px) {
  .about-top-intro .line-vertical-center {
    top: 0;
  }
}
.about-top-intro .smoke-wrapper {
  width: 80vw;
  height: 48.3333333333vw;
  content: "";
  display: block;
  background: url(../images/smoke-grey.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -26.875vw;
  left: -13.8888888889vw;
}
.about-top-intro .text-bebas {
  position: relative;
  margin-top: 3.8194444444vw;
  z-index: 10;
  color: white;
  margin-left: 5.5555555556vw;
}
.about-top-intro .text-bebas span {
  display: block;
  margin-bottom: 3.4722222222vw;
}
.about-top-intro .text-bebas span:first-child {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .about-top-intro .text-bebas {
    margin-left: 20px;
  }
}
.about-top-intro .pink-wrapper-text {
  position: absolute;
  width: 50%;
  top: 6.4583333333vw;
  background: #B019D4;
  mix-blend-mode: overlay;
  height: 47.1527777778vw;
}
@media (max-width: 767px) {
  .about-top-intro .pink-wrapper-text {
    top: 20px;
    height: 170px;
    width: 100%;
    left: 40px;
  }
}
.about-top-intro .about-top-intro-image {
  margin-left: -9.7222222222vw;
  margin-right: 0;
  max-width: 63.8194444444vw;
}
@media (max-width: 767px) {
  .about-top-intro .about-top-intro-image {
    max-width: 100%;
    margin-left: 0;
  }
}

.section-divided-text .content-area {
  padding-left: 2.4305555556vw;
}
@media (max-width: 767px) {
  .section-divided-text .content-area {
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 35px;
  }
}
.section-divided-text .divided-text-wrapper {
  margin-bottom: 6.25vw;
}
.section-divided-text .divided-text-wrapper:last-child {
  margin-bottom: 0;
}
.section-divided-text .divided-text-wrapper .text-bebas {
  margin-top: 1.5972222222vw;
}
.section-divided-text .divided-text-wrapper .text-bebas span {
  display: block;
  margin-top: 2.2916666667vw;
}

.section-quote {
  position: relative;
  margin-top: 9.7222222222vw;
  padding-top: 35.2777777778vw;
  margin-bottom: 3.125vw;
}
@media (max-width: 767px) {
  .section-quote {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
.section-quote .line-vertical-center {
  top: 13.6805555556vw;
}
@media (max-width: 767px) {
  .section-quote .line-vertical-center {
    display: none;
  }
}
.section-quote p {
  margin-bottom: 3.125vw;
}
.section-quote .skyscraper {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 47.6388888889vw;
  height: 63.4027777778vw;
  opacity: 0.3;
  left: -10.4861111111vw;
  background: url(../images/skyscraper.png);
  background-position: top left;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .section-quote .skyscraper {
    width: 200px;
    height: 200px;
    top: 0;
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.about-stat-section {
  position: relative;
  padding-top: 22.4305555556vw;
}
@media (max-width: 767px) {
  .about-stat-section {
    padding-top: 100px;
  }
}
.about-stat-section .line-vertical-center {
  top: 0;
}
.about-stat-section .about-stat-section-title {
  margin-left: 30vw;
}
@media (max-width: 767px) {
  .about-stat-section .about-stat-section-title {
    margin-left: 0;
    text-align: center;
  }
}
.about-stat-section .about-stat-section-title .text-bebas {
  font-size: 10.4166666667vw;
  line-height: 10.4166666667vw;
  letter-spacing: 0;
}
@media (max-width: 767px) {
  .about-stat-section .about-stat-section-title .text-bebas {
    font-size: 50px;
    line-height: 50px;
  }
}
.about-stat-section .stat-items-wrapper {
  margin-top: 7.4305555556vw;
}
@media (max-width: 767px) {
  .about-stat-section .stat-items-wrapper {
    margin-top: 30px;
  }
}

.stat-items-wrapper {
  margin-bottom: 11.8055555556vw;
}
.stat-items-wrapper .stat-item {
  position: relative;
  padding-left: 20.8333333333vw;
  margin-bottom: 6.9444444444vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.stat-items-wrapper .stat-item:before {
  content: "";
  width: 16.8055555556vw;
  height: 2px;
  background: #B019D4;
  position: absolute;
  left: 0;
  top: 3.4722222222vw;
}
.stat-items-wrapper .stat-item .label {
  width: 19.7916666667vw;
  display: inline-block;
  position: relative;
  top: 1.3888888889vw;
  margin-left: 3.2638888889vw;
}
.stat-items-wrapper .stat-item .dig-link {
  font-size: 2.0833333333vw;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: 0.6944444444vw;
  margin-left: 2.0833333333vw;
}
@media (max-width: 767px) {
  .stat-items-wrapper .stat-item .dig-link {
    font-size: 20px;
    margin-top: 10px;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .stat-items-wrapper .stat-item {
    display: block;
    text-align: center;
    padding-left: 0;
    margin-bottom: 35px;
  }
  .stat-items-wrapper .stat-item .number {
    display: block;
  }
  .stat-items-wrapper .stat-item .label {
    margin-left: 0;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 5px;
  }
}

.client-stories-hero-section {
  padding-top: 12.0138888889vw;
  padding-bottom: 13.8888888889vw;
  background-position: top -250px left;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 767px) {
  .client-stories-hero-section {
    background-position: top -120px center;
    background-size: 100% auto;
    padding-top: 200px;
    padding-bottom: 100px;
  }
}
.client-stories-hero-section .client-stories-hero-text {
  max-width: 41.3194444444vw;
  margin-left: auto;
  margin-right: auto;
}
.client-stories-hero-section .client-stories-hero-text span:first-child {
  display: block;
  margin-bottom: 1.3888888889vw;
}
@media (max-width: 767px) {
  .client-stories-hero-section .client-stories-hero-text {
    max-width: 100%;
  }
}

.section-client-stories {
  margin-top: 8.5416666667vw;
  padding-bottom: 7.9861111111vw;
  margin-bottom: 10.4166666667vw;
  position: relative;
  overflow: hidden;
}
.section-client-stories .diagonal-line {
  top: 2.0833333333vw;
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  -o-transform: rotate(44deg);
  transform: rotate(44deg);
}
.section-client-stories .client-stories-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 43.75vw;
}
@media (max-width: 767px) {
  .section-client-stories .client-stories-wrapper {
    display: block;
    height: auto;
  }
}
.section-client-stories .client-stories-wrapper .clients-menu {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 767px) {
  .section-client-stories .client-stories-wrapper .clients-menu {
    height: 200px;
  }
}
.section-client-stories .client-stories-wrapper .clients-menu::-webkit-scrollbar {
  width: 5px;
}
.section-client-stories .client-stories-wrapper .clients-menu::-webkit-scrollbar-track {
  background: #3e094b;
}
.section-client-stories .client-stories-wrapper .clients-menu::-webkit-scrollbar-thumb {
  background: #B019D4;
  border-radius: 3px;
}
.section-client-stories .client-stories-wrapper .clients-menu::-webkit-scrollbar-thumb:hover {
  background: #bf22e5;
}
.section-client-stories .client-stories-wrapper .clients-menu a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.section-client-stories .client-stories-wrapper .clients-menu a.active, .section-client-stories .client-stories-wrapper .clients-menu a:hover {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0;
}
.section-client-stories .client-stories-wrapper .clients-menu li:not(:last-child) {
  margin-bottom: 0.6944444444vw;
}
.section-client-stories .client-stories-wrapper .client-image {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .section-client-stories .client-stories-wrapper .client-image {
    display: block;
    content: "";
    height: 250px;
    margin-top: 20px;
  }
}

.case-study-hero-section {
  height: 43.8194444444vw;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 767px) {
  .case-study-hero-section {
    height: auto;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
  }
}
.case-study-hero-section:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 25, 38, 0.65);
}
.case-study-hero-section .case-study-hero-text {
  z-index: 1;
  position: relative;
  top: 18.0555555556vw;
  max-width: 59.0277777778vw;
}
.case-study-hero-section .case-study-hero-text p {
  margin-left: 7.6388888889vw;
  margin-top: 5.2083333333vw;
}
@media (max-width: 767px) {
  .case-study-hero-section .case-study-hero-text {
    max-width: 100%;
  }
  .case-study-hero-section .case-study-hero-text p {
    margin-left: 0;
  }
}

.case-study-intro-section {
  padding-top: 27.4305555556vw;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .case-study-intro-section {
    padding-top: 100px;
  }
}
.case-study-intro-section .line-vertical-center {
  top: 12.1527777778vw;
}
@media (max-width: 767px) {
  .case-study-intro-section .line-vertical-center {
    top: 60px;
  }
}
.case-study-intro-section .diagonal-line {
  top: 0;
  right: 5.2083333333vw;
}

.section-divided-text--case-study {
  padding-top: 3.8194444444vw;
}
.section-divided-text--case-study .divided-text-title {
  margin-bottom: 2.4305555556vw;
}
.section-divided-text--case-study .divided-text-group {
  margin-bottom: 16.3194444444vw;
}

.case-study-stat-section .stat-items-wrapper {
  margin-top: 10.0694444444vw;
}
.case-study-stat-section .case-study-stat-section-title h2 {
  font-size: 10.4166666667vw;
  line-height: 10.4166666667vw;
}

.stat-items-wrapper.stat-items-wrapper--case-study .stat-item:not(:last-child) {
  margin-bottom: 10.0694444444vw;
}
.stat-items-wrapper.stat-items-wrapper--case-study .stat-item .label {
  font-size: 2.0833333333vw;
  line-height: 2.7777777778vw;
  color: white;
  font-weight: bold;
  top: 0.6944444444vw;
  margin-left: 4.5138888889vw;
}
@media (max-width: 767px) {
  .stat-items-wrapper.stat-items-wrapper--case-study .stat-item .label {
    font-size: 20px;
    line-height: 30px;
    margin: auto;
  }
}
.stat-items-wrapper.stat-items-wrapper--case-study .stat-item--style-1 .label {
  width: 30.9027777778vw;
}
@media (max-width: 767px) {
  .stat-items-wrapper.stat-items-wrapper--case-study .stat-item--style-1 .label {
    width: 90%;
  }
}
.stat-items-wrapper.stat-items-wrapper--case-study .stat-item--style-2 {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 12.5vw;
}
.stat-items-wrapper.stat-items-wrapper--case-study .stat-item--style-2 .label {
  margin-top: 2.4305555556vw;
  width: 55.5555555556vw;
  margin-left: 10.4166666667vw;
}
@media (max-width: 767px) {
  .stat-items-wrapper.stat-items-wrapper--case-study .stat-item--style-2 .label {
    width: 90%;
    margin: auto;
  }
}

.case-study-client-quote {
  padding-bottom: 10.625vw;
  padding-top: 3.4722222222vw;
}
@media (max-width: 767px) {
  .case-study-client-quote .quote-icon {
    width: 50px;
    display: block;
  }
  .case-study-client-quote .quote-icon svg {
    width: 100%;
    height: 50px;
  }
}
.case-study-client-quote .quote {
  text-align: center;
  margin-bottom: 11.4583333333vw;
}
.case-study-client-quote blockquote {
  margin: 1.0416666667vw auto 0;
  padding: 0;
  max-width: 67.3611111111vw;
  font-weight: 1.25vw;
  line-height: 2.0833333333vw;
  color: white;
}
@media (max-width: 767px) {
  .case-study-client-quote blockquote {
    max-width: 100%;
  }
}
.case-study-client-quote blockquote cite {
  font-style: normal;
  font-size: 2.0833333333vw;
  font-weight: bold;
}
@media (max-width: 767px) {
  .case-study-client-quote blockquote cite {
    font-size: 20px;
  }
}

.solutions__nav {
  background-color: #252236;
  padding: 1.5277777778vw 0 1.25vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.solutions__nav a {
  line-height: 1;
  font-size: 3.4722222222vw;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "BebasNeue";
  color: #B019D4;
  transition: all 0.3s ease;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #B019D4;
  /*&:not(.is_active):not(:hover) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #B019D4;
  }*/
}
.solutions__nav a:not(:last-child) {
  margin-right: 6.25vw;
}
.solutions__nav a:hover, .solutions__nav a.is_active {
  -webkit-text-fill-color: #B019D4;
}

.hero-solutions {
  padding: 13.8888888889vw 0 0;
  background-image: url(../images/cloud2.png);
  background-repeat: no-repeat;
  background-position: top -29.8611111111vw right -19.2361111111vw;
}
.hero-solutions .hero-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.hero-solutions .hero-text h1 {
  font-size: 6.9444444444vw;
  font-weight: bold;
  font-family: "BebasNeue";
  text-transform: uppercase;
  margin-bottom: 2.7777777778vw;
  color: #fff;
}
.hero-solutions .hero-text h2 {
  font-size: 6.9444444444vw;
  font-weight: bold;
  font-family: "BebasNeue";
  text-transform: uppercase;
  color: #B019D4;
}
.hero-solutions .hero-text h3 {
  color: #B019D4;
  font-size: 3.4722222222vw;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2.7777777778vw;
}
.hero-solutions .hero-text p {
  color: #fff;
  font-size: 2.0833333333vw;
  font-weight: bold;
  line-height: 1.33;
}
.hero-solutions .hero-text__left {
  width: 57%;
}
.hero-solutions .hero-text__right {
  width: 43%;
  padding-top: 23.2638888889vw;
}

.hero-sep--vertical {
  height: 11.5277777778vw;
  width: 2px;
  margin: 8.3333333333vw auto;
  background-color: #B019D4;
  border: none;
}

.hero-solution--single {
  padding: 12.5vw 0;
  background-size: 69.4444444444vw;
  background-repeat: no-repeat;
  background-position: top -17.3611111111vw right -9.0277777778vw;
}
.hero-solution--single .hero-text {
  max-width: 62.5vw;
}
.hero-solution--single .hero-text h1 {
  line-height: 1;
  margin-bottom: 3.4722222222vw;
}
.hero-solution--single .hero-text h2 {
  color: #fff;
  font-size: 6.9444444444vw;
  font-weight: bold;
  margin-bottom: 4.1666666667vw;
}
.hero-solution--single .hero-text h3 {
  color: #B019D4;
  font-size: 3.4722222222vw;
  font-weight: bold;
  line-height: 1.2;
}

/* ==========================================================================
   Basic Print styles
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */
