/*
Theme Name: Revelation
*/


















/* =Images
-------------------------------------------------------------- */
img.size-auto,img.size-full,img.size-large,img.size-medium,.attachment img,.widget-container img{max-width:100%;height:auto;}
.alignleft,img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
.alignright,img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft,img.alignright,img.aligncenter{margin-bottom:12px;}
.wp-caption{background:#f1f1f1;line-height:18px;margin-bottom:20px;max-width:632px!important;padding:4px;text-align:center;}
.wp-caption img{margin:5px 5px 0;}
.wp-caption p.wp-caption-text{color:#888;font-size:12px;margin:5px;}
.gallery{margin:0 auto 18px;}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{border:10px solid #f1f1f1;}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto;}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto;}
.gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px;}
.gallery br+br{display:none;}
#content .attachment img{display:block;margin:0 auto;}
.wp-smiley,.gallery dl{margin:0;}

/* =Comments
-------------------------------------------------------------- */
#comments{clear:both;}
#comments .navigation{padding:0 0 18px;}
h3#comments-title,h3#reply-title{color:#000;font-size:20px;font-weight:700;margin-bottom:0;}
h3#comments-title{padding:24px 0;}
.commentlist li.comment{border-bottom:1px solid #e7e7e7;line-height:24px;margin:0 0 24px;padding:0 0 0 56px;position:relative;}
.commentlist li:last-child{border-bottom:none;margin-bottom:0;}
#comments .comment-body ul,#comments .comment-body ol{margin-bottom:18px;}
#comments .comment-body p:last-child{margin-bottom:6px;}
#comments .comment-body blockquote p:last-child{margin-bottom:24px;}
.commentlist ol{list-style:decimal;}
.commentlist .avatar{position:absolute;top:4px;left:0;}
.comment-author cite{color:#000;font-style:normal;font-weight:700;}
.comment-author .says{font-style:italic;}
.comment-meta{font-size:12px;margin:0 0 18px;}
.comment-meta a:link,.comment-meta a:visited{color:#888;text-decoration:none;}
.reply{font-size:12px;padding:0 0 24px;}
.reply a,a.comment-edit-link{color:#888;}
.commentlist .children li{border:none;margin:0;}
.nopassword,.nocomments{display:none;}
#comments .pingback{border-bottom:1px solid #e7e7e7;margin-bottom:18px;padding-bottom:18px;}
.commentlist li.comment+li.pingback{margin-top:-6px;}
#comments .pingback p{color:#888;display:block;font-size:12px;line-height:18px;margin:0;}
#comments .pingback .url{font-size:13px;font-style:italic;}
input[type="submit"]{color:#333;}
#respond{border-top:1px solid #e7e7e7;margin:24px 0;overflow:hidden;position:relative;}
#respond .comment-notes{margin-bottom:1em;}
.form-allowed-tags{line-height:1em;}
.children #respond{margin:0 48px 0 0;}
h3#reply-title{margin:18px 0;}
#comments-list #respond{margin:0 0 18px;}
#cancel-comment-reply-link{font-size:12px;font-weight:400;line-height:18px;}
#respond .required{color:#ff4b33;font-weight:700;}
#respond label{color:#888;font-size:12px;}
#respond input:not([type=checkbox]){margin:0 0 9px;width:98%;}
#respond textarea{width:98%;}
#respond .form-allowed-tags{color:#888;font-size:12px;line-height:18px;}
#respond .form-allowed-tags code{font-size:11px;}
#respond .form-submit{margin:12px 0;}
#respond .form-submit input{font-size:19px;width:auto;}
.commentlist,.commentlist .children{list-style:none;margin:0;}
.comment-meta a:active,.comment-meta a:hover,.reply a:hover,a.comment-edit-link:hover{color:#ff4b33;}
#respond p,#comments-list ul #respond{margin:0;}

/* Yakub 9/12/19 */
.wppb-form-field.wppb-avatar span.file-name, .wppb-form-field.wppb-avatar span.file-type, .screen-reader-text { display: none !important }
.wppb-form-field.wppb-avatar span.wppb-remove-upload {
	cursor: pointer;
	color: #eb1d2f;
}
.wppb-form-field.wppb-avatar .file-thumb img {
	border-radius: 999px;
}
.wppb-form-field.wppb-avatar a#upload_custom_field_1_button {
	background: #eb1d2f;
	color: white;
	padding: 12px 30px 10px 30px;
	margin: 0 0 50px 0;
}
ul.share-links-single li { list-style: none !important; }
.video-single-post.post-item-full-image .image-wrapper {
	background-size: auto 140%;
}