.contact-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #1B1926;
    overflow: auto;
    padding-bottom: vw(100);
    opacity: 0;
    pointer-events: none;
    @include transition(300ms);


    &::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
    &::-webkit-scrollbar-track {
        background: darken($purple, 30%); 
      }
       
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $purple; 
        border-radius: 3px;
      }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: lighten($purple, 5%); 
      }

    &.active {
        pointer-events: auto;
        opacity: 1;
    }

    .close-popup {
        position: absolute;
        width: vw(100);
        height: vw(100);
        background: $purple;
        border: none;
        padding: 0;
        cursor: pointer;

        @include media('<=sm') {
            width: 50px;
            height: 50px;
        }
    }

    .popup-container {
        max-width: vw(600);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: vw(100);

        @include media('<=sm') {
            max-width: 100%;
            padding: 60px 15px;
        }

        .logo {
            display: block;
            margin-bottom: vw(80);
        }
        
    }

    .contact-form-wrapper {
        margin-top: vw(80);
        padding: 0 vw(25);

        input:not([type=submit]) , textarea {
            width: 100%;
            margin-bottom: vw(40);
            background: transparent;
            padding-bottom: vw(24);
            border: none;
            border-bottom: 2px solid white;
            font-size: vw(18);
            color: white;
            @include transition(300ms);

            @include media('<=sm') {
                font-size: 18px;
                padding-bottom: 15px;
                margin-bottom: 20px;
            }

            &:focus {
                outline: none;
                color: $purple;
                border-color: $purple;
            }

            &::placeholder {
                color: white;
            }
        }

        input[type=submit] {
            width: vw(200);
            height: vw(53);
            line-height: vw(45);
            text-align: center;
            font-size: vw(16);
            @include letter-spacing(312.5);
            text-transform: uppercase;
            color: white;
            border: 2px solid white;
            border-radius: 4px;
            background: transparent;
            cursor: pointer;

            @include media('<=sm') {
                font-size: 16px;
                width: 200px;
                height: 53px;
                line-height: 45px;
            }
        }
    }
}