/* ==========================================================================
   Footer
   ========================================================================== */
   footer {
    padding:vw(80) 0 vw(70);
    background: #1b1926;
    font-size: vw(15);
    font-weight: 500;
    color: #fff;

    @include media('<=md'){
      font-size: 15px;
    }

    @include media('<=sm'){
      font-size: 15px;
      padding: 40px 0 30px;
    }

    a {
      color: $purple;
      font-size: vw(15);
      font-weight: 500;

      @include media('<=md'){
        font-size: 15px;
      }

      @include media('<=sm'){
        font-size: 15px;
      }
    }

    .footer-top {
      .menu-sm {
        margin-bottom: vw(25);

        @include media('<=sm'){
          margin-bottom: 30px;
        }

        li {
          display: block;
          margin-bottom: vw(4);

          @include media('<=sm'){
            margin-bottom: 5px;
          }

          a {
            color: #fff;
            font-size: vw(15);
            font-weight: 500;

            @include media('<=md'){
              font-size: 15px;
            }

            @include media('<=sm'){
              font-size: 15px;
            }
          }
        }
      }

      p {
        color: #fff;
        margin-bottom: vw(20);
      }

      h4 {
        color: $purple;
        font-size: vw(20);
        text-transform: uppercase;
        font-family: "BebasNeue";
        margin-bottom: vw(10);

        @include media('<=md'){
          font-size: 20px;
        }

        @include media('<=sm'){
          font-size: 20px;
          margin-bottom: 5px;
        }
      }

      .menu-lg {
        @include media('<=sm'){
          margin-bottom: 30px;
        }

        li {
          display: block;
          margin-bottom: vw(4);

          &.current-menu-item {
            a {
              color: $purple;
            }
          }

          @include media('<=sm'){
            margin-bottom: 5px;
          }

          a {
            color: #fff;
            font-size: vw(20);
            font-family: "BebasNeue";
            text-transform: uppercase;

            @include media('<=md'){
              font-size: 20px;
            }

            @include media('<=sm'){
              font-size: 20px;
            }
          }
        }
      }

      .col--5 {
        img {
          float: right;

          @include media('<=sm'){
            position: absolute;
            width: 60px;
            bottom: 0;
            right: 15px;
          }
        }
      }

      .social-icons {
        margin-top: 30px;
        display: block;

        .icon {
          margin-right: 15px;
        }
      }
    }

    .footer-bottom {
      padding-top: vw(20);

      @include media('<=sm'){
        padding-top: 60px;
      }

      p {
        line-height:32px ;
      }

      .social-icons {
        float: right;
      }
      .icon {
        margin-left: vw(20);
      }
    }

   }
