
@font-face {
  font-family: 'Texta';
  src: url('../fonts/Texta-Medium.eot');
  src: local('☞Texta-Medium'), local('Texta-Medium'),
      url('../fonts/Texta-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Texta-Medium.woff2') format('woff2'),
      url('../fonts/Texta-Medium.woff') format('woff'),
      url('../fonts/Texta-Medium.ttf') format('truetype'),
      url('../fonts/Texta-Medium.svg#Texta-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Texta';
  src: url('../fonts/Texta-Black.eot');
  src: local('☞Texta-Black'), local('Texta-Black'),
      url('../fonts/Texta-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Texta-Black.woff2') format('woff2'),
      url('../fonts/Texta-Black.woff') format('woff'),
      url('../fonts/Texta-Black.ttf') format('truetype'),
      url('../fonts/Texta-Black.svg#Texta-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Texta';
  src: url('../fonts/Texta-Bold.eot');
  src: local('☞Texta-Bold'), local('Texta-Bold'),
      url('../fonts/Texta-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Texta-Bold.woff2') format('woff2'),
      url('../fonts/Texta-Bold.woff') format('woff'),
      url('../fonts/Texta-Bold.ttf') format('truetype'),
      url('../fonts/Texta-Bold.svg#Texta-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('BebasNeueBold'),
      url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BebasNeueBold.woff2') format('woff2'),
      url('../fonts/BebasNeueBold.woff') format('woff'),
      url('../fonts/BebasNeueBold.ttf') format('truetype'),
      url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
   .container {
    @extend %clearfix;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: $grid-max-width;
    padding: 0 $grid-gutter;

    @include media('<=md'){
      max-width: 90%;
    }

    @include media('<=sm'){
      max-width: 100%;
    }

    &.container-1210 {
      max-width: vw(1210);

      @include media('<=md'){
        max-width: 90%;
      }

      @include media('<=sm'){
        max-width: 100%;
      }
    }

    &.container-980 {
      max-width: vw(980);

      @include media('<=md'){
        max-width: 90%;
      }

      @include media('<=sm'){
        max-width: 100%;
      }
    }
  }

  .clearfix {
    @extend %clearfix;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    opacity: 1;
  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    opacity: 1;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    opacity: 1;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    opacity: 1;
  }

  /* ==========================================================================
     Responsive helpers
     ========================================================================== */

  * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

  /*
   * Responsive helpers
   */
  .hidden-desktop {
    display: none;
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  .table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }


  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */

  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  /* ==========================================================================
     General styles
     ========================================================================== */
  img {
    max-width: 100%;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: 1em;
    padding: 0;
  }

  h1,
  h2 {
    font-family: "BebasNeue";
  }

  a {
    text-decoration: none;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  textarea {
    resize: vertical;
  }

/* ==========================================================================
   Main styles
   ========================================================================== */

html {
  color: #2d3038;
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: vw(15px);
  line-height: 1.6;
  @media screen and (max-width: $breakpoint-md) {
    font-size: vw(20px);
  }
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 15px;
  }
}

body {
  background-color: #f2f3f7;
  font-family: "Texta";
  &.open {
    overflow: hidden;
  }
}

main {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.with-background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--normal-padding {
  margin: vw(40px) 0;
  @media screen and (max-width: $breakpoint-md) {
    margin: vw(60px) 0;
  }
  @media screen and (max-width: $breakpoint-sm) {
    margin: 30px 0;
  }
}

.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: vw(16);
  font-weight: bold;
  padding:vw(10) vw(32) vw(11);
  letter-spacing: vw(4);
  text-align: center;

  @include media('<=md'){
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px;
  }

  @include media('<=sm'){
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px;
  }

  &.btn-purple {
    border:2px solid $purple;
    color: $purple;
  }

  &.btn-white {
    border:2px solid #fff;
    color: #fff;
  }
}

.diagonal-line {
  position: absolute;
  width: 2px;
  height: vw(1200);
  background-color: #b019d4;
  border-radius: 4px;
  right: 0;
  margin: 0 0 0 -2px;
  transform: rotate(45deg);
  transform-origin: 100% 0;

  @include media('<=sm'){
    top: 40%;
    height: 440px;
    width: 1px;
  }
}

.block {
  display: block;
}

textarea {
  resize: none;
}

.text--pink {
  color: $purple;
}

.text--center {
  text-align: center;
}

.text-bebas {
  font-family: 'BebasNeue';
  
  &--big {
    font-size: vw(100);
    line-height: vw(100);
    text-transform: uppercase;
    @include letter-spacing(18);

    @include media('<=sm') {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &--ultra-big {
    font-size: vw(232);
    line-height: vw(140);
    @include letter-spacing(26.67);

    @include media('<=sm') {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &--white {
    color: white;
  }

  &--no-letter-spacing {
    letter-spacing: 0;
  }

  &--pink {
    color: $purple;
  }

  &--stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #B019D4;
  }

  &--stroke-white {
    -webkit-text-stroke: 1px white;
  }
}

.content-area {
  color: white;
  p {
    font-size: vw(18);
    line-height: vw(30);
    margin-bottom: vw(30);

    a {
      color: $purple;
    }

    @include media('<=sm') {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > a {
    color: $purple;
    font-size: vw(18);
    line-height: vw(30);

    @include media('<=sm') {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .case-study-link {
    font-size: vw(14);
    margin-top: vw(44);
    font-weight: bold;
    @include letter-spacing(312.5);
    display: block;

    @include media('<=sm') {
      font-size: 14px;
      margin-top: 30px;
    }
  }
}
