/* ==========================================================================
   Header
   ========================================================================== */

  .header {
    top: 0;
    left: 0;
    width: 100%;
    height: vw(100);
    background-color: #1B1926;
    z-index: 99;
    position: absolute;

    @include media('<=md'){
      height: 70px;
    }

    @include media('<=sm'){
      height: 52px;
      padding-left: 52px;
    }
    .logo {
      img {
        height: vw(58);

        @include media('<=sm'){
          height: 30px;
        }
      }
    }
  }

  .header-content {
    @include flexbox();
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .header-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: vw(100);
    height: 100%;
    background:#B019D4 url(../images/toggle.svg) center center no-repeat;
    background-size: 30% auto;
    display: block;
    text-indent: -999999px;
    overflow: hidden;

    @include media('<=md'){
      width: 70px;
    }

    @include media('<=sm'){
      width: 52px;
    }
  }

  .body-menu-open {
    .header-toggle {
      background-image: url(../images/icon-close.svg);
    }
    .header {
      position: fixed;
    }
  }

  .menu-wrapper {
    background-color: $purple;
    background-image: url(../images/bg-clouds-menu.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: fixed;
    top: vw(100);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;

    @include media('<=md'){
      top: 70px;
    }

    @include media('<=sm'){
      top: 52px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: vw(40);
      right: vw(50);
      background: url(../images/logo-white.svg) no-repeat;
      width: vw(80);
      height: vw(112);
      background-size: contain;

      @include media('<=md'){
        bottom: 20px;
        right: 15px;
        width: 70px;
        height: 90px;
      }

      @include media('<=sm'){
        bottom: 20px;
        right: 15px;
        width: 50px;
        height: 70px;
      }
    }

    .menu {
      margin-top: vw(120);

      @include media('<=md'){
        margin-top: 70px;
      }

      @include media('<=sm'){
        margin-top: 50px;
      }

      li {
        display: block;
        line-height: 1;
        margin-bottom: vw(10);

        @include media('<=md'){
          margin-bottom: 10px;
        }

        @include media('<=sm'){
          margin-bottom: 10px;
        }

        a {
          text-transform: uppercase;
          font-size: vw(50);
          font-family: "BebasNeue";
          color: #fff;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #fff;
          @include transition(300ms);

          @include media('<=md'){
            font-size: 50px;
          }

          @include media('<=sm'){
            font-size: 30px;
          }
        }

        &.current-menu-item a, a:hover {
          -webkit-text-fill-color: #fff;
          -webkit-text-stroke: none;
        }
      }
    }

    .social-icons {
      margin-top: vw(45);

      @include media('<=md'){
        margin-top: 50px;
      }

      @include media('<=sm'){
        margin-top: 30px;
      }

      a {
        margin-right: vw(25);

        @include media('<=md'){
          margin-right: 30px;
        }

        @include media('<=sm'){
          margin-right: 20px;
        }
      }
    }
  }
