/* ==========================================================================
   Homepage
   ========================================================================== */
.main-content {
  padding-top: vw(100);
  background: #1b1926;

  @include media('<=md'){
    padding-top: 70px;
  }

  @include media('<=sm'){
    padding-top: 52px;
  }
}

.hero-home {
  height: vw(770);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  @include media('<=sm'){
    height: 280px;
  }

  &:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: vw(110);
    display: block;
    background:url(../images/triangle-top-purple.svg) center top no-repeat;
    background-size: 100% 110%;
  }
}

.hero-home-title {
  background-color:#1b1926;
  text-align: center;
  padding-bottom: vw(35);
  position: relative;

  @include media('<=sm'){
    padding-bottom: 50px;
  }


  .text {
    top: vw(-150);
    position: relative;
    z-index: 2;

    h1 {
      font-family: "BebasNeue";
      text-shadow: 0px 0px 87px #C51BDE;
      font-size: vw(232);
      color: #fff;
      display: inline;
      background:none;
      line-height: 1;
      position: relative;
      z-index: 2;

      @include media('<=sm'){
        font-size: 116px;
        line-height: .8;
        max-width: 300px;
        margin: 0 auto;
        display: block;
        text-align: center;
      }
    }

    p {
      color: #fff;
      font-family: "BebasNeue";
      font-size: vw(70);
      position: relative;
      margin-top: vw(-30);
      z-index: 1;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #fff;

      @include media('<=sm'){
        font-size: 42px;
        padding: 0 15px;
        line-height: 1;
        margin-top: 0px;
      }
    }
  }


}

.line-vertical-center {
  position: absolute;
  width: 2px;
  height: vw(166);
  background-color: #b019d4;
  border-radius: 4px;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -2px;
  z-index: 10;

  @include media('<=sm'){
    height: 80px;
  }

  &.line-vertical-center-top {
    bottom: auto;
    top: vw(60);
  }

  &.line-vertical-center-top-alt {
    top: vw(15);
    bottom: auto;

    @include media('<=sm'){
      top: -15px;
    }
  }

  &.line-vertical-center-top-over {
    bottom: auto;
    top: vw(-83);

    @include media('<=sm'){
      top: -40px;
    }
  }
}

.purple-text {
  color: $purple;
}

.home-text-1 {
  background-color:#1b1926;
  padding-top: vw(60);
  padding-bottom: vw(20);
  color: #fff;

  h2 {
    max-width: vw(610);
    color: #fff;
    font-size: vw(100);
    margin-bottom: vw(10);

    @include media('<=sm'){
      font-size: 50px;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-size: vw(50);
    color: #fff;
    padding-left: vw(244);
    margin-bottom: vw(30);

    @include media('<=sm'){
      font-size: 25px;
      padding-left: 0;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: vw(20);
    font-weight: 700;
    margin-bottom: vw(30);

    @include media('<=md'){
      font-size: 14px;
      margin-bottom: 20px;
    }

    @include media('<=sm'){
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  h4 {
    color: $purple;
    font-size: vw(50);
    font-weight: 700;
  }

  .btn {
    margin-top: vw(10);

    @include media('<=sm'){
      margin: 0 auto;
      width: 100%;
      max-width: 150px;
      display: block;
    }
  }
}

.home-solutions-intro {
  position: relative;
  background-color: #1b1b27;
  padding-top: vw(270);
  padding-bottom: vw(40);

  @include media('<=sm'){
    padding-top: 120px;
    padding-bottom: 10px;
  }

  h2 {
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: vw(150);
    line-height: .9;

    @include media('<=sm'){
      font-size: 75px;
    }
  }

  p {
    font-size: vw(30);
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    padding-top: vw(240);

    @include media('<=md'){
      font-size: 18px;
      line-height: 1.3;
      padding-top: 100px;
    }

    @include media('<=sm'){
      font-size: 18px;
      padding-top: 10px;
      line-height: 1.3;
    }
  }
}

.home-solutions-part {
  background-color: #1b1b27;
  padding:vw(190) 0 vw(170);
  color: #fff;
  position: relative;
  overflow: hidden;

  @include media('<=sm'){
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .text {
    max-width: vw(500);
    position: relative;
    z-index: 2;

    @include media('<=sm'){
      max-width: 100%;
    }

    h2 {
      font-size: vw(120);
      margin-bottom: vw(25);

      @include media('<=sm'){
        font-size: 72px;
        margin-bottom: 0;
      }
    }

    p {
      font-size: vw(30);
      margin-bottom: vw(25);
      font-weight: bold;
      line-height: 1.2;

      @include media('<=sm'){
        font-size: 25px;
        margin-bottom: 20px;
        line-height: 1.3;
      }
    }

    .read-more {
      font-size: vw(14);
      font-weight: bold;
      text-transform: uppercase;
      color: $purple;
      letter-spacing: vw(3);

      @include media('<=sm'){
        font-size: 14px;
        letter-spacing: 2px;
      }
    }
  }

  .img-wrapper {
    position: absolute;
    top:0;
    bottom: 0;
    left:50%;
    margin-left: vw(-150);
    z-index: 1;

    @include media('<=sm'){
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      margin: 0 -60px;
      width: auto;
      height: 230px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &.home-solutions-part-alt {
    .img-wrapper {
      right: 50%;
      left: auto;
      margin-left: vw(-50);

      @include media('<=sm'){
        right: auto;
        margin-left: -60px;
      }
    }
    .text {
      float: right;
    }
  }

  &.home-solutions-part-last {
    @include media('<=sm'){
      padding-bottom: 70px;
    }
  }
}

.home-testimonials {
  background-color: #fff;
  padding:vw(100) 0;
  position: relative;

  @include media('<=sm'){
    padding: 60px 0 50px;
  }

  .diagonal-line {
    position: absolute;
    width: 2px;
    height: vw(1200);
    background-color: #b019d4;
    border-radius: 4px;
    top: 17%;
    right: 0;
    margin: 0 0 0 -2px;
    z-index: 2;
    transform: rotate(45deg);
    transform-origin: 100% 0;

    @include media('<=sm'){
      top: 40%;
      height: 440px;
      width: 1px;
    }
  }

  .text {

    h2 {
      font-size: vw(150);
      color: #1B1926;
      line-height: .9;

      @include media('<=sm'){
        font-size: 75px;
      }

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #1B1926;
        display: block;
      }
    }
  }

  .testimonials-slider {
    position: relative;
    z-index: 10;
    margin-bottom: 0;

    @include media('<=sm'){
      padding-top: 30px;
    }

    .slide {
      position: relative;
      padding: vw(90) 0;

      img {
        width: vw(578);
        float: right;
        box-shadow: 0px 0px 80px rgba(197, 27, 222, 0.3);

        @include media('<=sm'){
          float: none;
          width: 100%;
          display: block;
          box-shadow: none;
        }
      }

      .img {
        @include media('<=sm'){
          float: none;
          width: auto;
          margin: 0 -15px;
        }
      }

      .text {
        float: left;
        width: vw(460);
        text-align: right;
        padding-top: vw(130);

        @include media('<=md'){
          width: vw(530);
        }

        @include media('<=sm'){
          float: none;
          width: 100%;
          padding-top: 70px;
        }

        h4 {
          color: $purple;
          font-size: vw(30);
          font-weight: bold;
          margin-bottom: vw(25);

          @include media('<=md'){
            font-size: 25px;
            margin-bottom: 10px;
          }

          @include media('<=sm'){
            font-size: 25px;
            margin-bottom: 10px;
          }
        }

        p{
          font-size: vw(20);
          font-weight: bold;
          margin-bottom: vw(30);

          @include media('<=md'){
            font-size: 14px;
            margin-bottom: 20px;
          }

          @include media('<=sm'){
            font-size: 16px;
            margin-bottom: 25px;
          }
        }

        .read-more {
          font-size: vw(14);
          font-weight: bold;
          text-transform: uppercase;
          color: $purple;
          letter-spacing: vw(3);

          @include media('<=md'){
            font-size: 14px;
            letter-spacing: 2px;
          }

          @include media('<=sm'){
            font-size: 14px;
            letter-spacing: 2px;
          }
        }
      }
    }

    .slick-dots {
      position: absolute;
      top: 10px;
      bottom: auto;
      text-align: left;
      width: 100%;
      max-width: $grid-max-width;
      padding: 0 ($grid-gutter + 12px);
      left: 50%;
      margin-left: -($grid-max-width/2);

      @include media('<=md'){
        left: 44%;
      }

      @include media('<=sm'){
        top: 0;
        max-width: 100%;
        left: auto;
        margin: 0;
        padding: 0 $grid-gutter;
      }

      li {
        button {
          width: vw(16);
          height: vw(16);
          border: 2px solid $purple;

          &:before {
            display: none;
          }
        }

        &.slick-active {
          button {
            background-color: $purple;
          }
        }
      }
    }
  }
}

.get-in-touch {
  padding: vw(240) 0 vw(120);
  background: url(../images/bg-get-touch.jpg) center top no-repeat;
  background-size: cover;
  position: relative;

  &--client-stories {
    padding-top: vw(155);
    .line-vertical-center {
      top: - vw(72);
    }
  }

  &.no-triangle {
    &:before {
      display: none;
    }
  }

  @include media('<=sm'){
    padding: 95px 0 50px;
  }

  h2 {
    font-size: vw(100);
    color: $purple;
    line-height: .95;

    @include media('<=sm'){
      font-size: 50px;
      line-height: 1;
    }

    span {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px $purple;
      display: block;
      font-size: vw(225);

      @include media('<=sm'){
        font-size: 112px;
      }
    }
  }

  p {
    color: #fff;
    font-size: vw(30);
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: vw(30);
    padding-top: vw(40);

    @include media('<=sm'){
      font-size: 16px;
      margin-bottom: 30px;
      padding-top: 10px;
    }
  }

  .btn {
    @include media('<=sm'){
      width: 100%;
      max-width: 170px;
      margin: 0 auto;
      display: block;
    }
  }

  &:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: vw(110);
    display: block;
    background:url(../images/triangle-top-white.svg) center bottom no-repeat;
    background-size: 100% 105%;
  }
}

// ==========================================================================
// Contact
// ==========================================================================
.contact-hero {
  height: vw(675);
  padding-top: vw(140);
  position: relative;

  @include media('<=sm') {
    height: auto;
    margin-bottom: 40px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h1 {
    color: #fff;
    font-size: vw(100);
    line-height: .9;

    @include media('<=sm') {
      font-size: 40px;
      line-height: 40px;
    }

    span {
      display: block;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #fff;
      font-size: vw(232);

      @include media('<=sm') {
        font-size: 75px;
        line-height: 75px;
      }
    }
  }

  p {
    font-size: vw(30);
    color: #fff;
    line-height: 1.2;

    @include media('<=sm') {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &:after {
    content: "";
    width: vw(1293);
    height: vw(971);
    background: url(../images/cloud1.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    left: -35%;
    top: -25%;
    transform: rotate(-10deg);
  }

  &:before {
    content: "";
    width: vw(1293);
    height: vw(971);
    background: url(../images/cloud2.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    right: -50%;
    top: -75%;
    transform: rotate(-10deg);
  }
}

.contact-main {
  font-size: vw(96);
  font-family: "BebasNeue";
  color: #fff;
  padding-top: vw(80);

  @include media('<=sm') {
    font-size: 40px;
    line-height: 40px;

    ul {
      margin-top: 10px;
    }
  }

  ul {
    margin-bottom: vw(40);
    li {
      line-height: 1;
      margin-bottom: vw(10);

      a {
        line-height: 1;
        text-transform: uppercase;
        color: $purple;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px $purple;
      }

      &.active {
        a {
          -webkit-text-fill-color: $purple;
          -webkit-text-stroke: none;
        }
      }
    }
  }

  .line-vertical-left {
    width: 2px;
    height: vw(166);
    background-color: #b019d4;
    border-radius: 4px;
    z-index: 10;

    @include media('<=sm'){
      height: 80px;
    }
  }

  .would-like {
    p {
      color: $purple;
      line-height: 1;
    }
  }
}

.contact-where {
  margin-top: vw(75);
  padding-bottom: vw(85);
  position: relative;
  margin-bottom: vw(80);


  .diagonal-line {
    z-index: auto;
    top: - vw(150);
    height: vw(1110);
  }

  .contact-where-text {
    margin-top: vw(100);

    @include media('<=sm') {
      @include flexbox;
      margin-bottom: 5px;
    }

    a {
      @include media('<=sm') {
        font-size: 30px;
        line-height: 30px;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    a.active {
      -webkit-text-fill-color: white;
      -webkit-text-stroke: 1px transparent;
    }
  }

  .contact-card {

    .contact-card-body {
      display: none;

      &.active {
        display: block;
      }
    }

    img {
      width: 100%;
    }

    .contact-card-text {
      background: white;
      padding-left: vw(35);
      padding-bottom: vw(47);

      @include media('<=sm') {
        padding: 15px;
      }

      .contact-card-big-text {
        margin-top: - vw(15);

        @include media('<=sm') {
            font-size: 40px;
            line-height: 40px;
        }
      }

      address {
        font-style: normal;
        font-size: vw(24);
        line-height: vw(40);

        @include media('<=sm') {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}

.section-find-more {
  background: url(../images/cloud1.png), linear-gradient(rgba($purple, .8) , rgba($purple, .8)) , linear-gradient(rgba($purple, .8) , rgba($purple, .8));
  -webkit-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  padding: vw(107) 0;

  @include media('<=sm') {
    padding: 40px 0 20px;
  }

  .find-more-link {
    font-size: vw(40);
    line-height: vw(40);
    @include letter-spacing(45);
    color: white;
    @include flexbox;
    @include justify-content(space-between);
    max-width: vw(935);
    margin-left: auto;
    margin-right: auto;

    &:nth-child(2) {
      margin-top: vw(100);
    }

    @include media('<=sm') {
      display: block;
      font-size: 40px;
      line-height: 40px;
      max-width: 100%;
    }

    h3 {
      position: relative;
      display: inline-block;
      padding-bottom: vw(5); 
      margin-right: vw(60);

      &:before {
        content: '';
        display: block;
        height: 2px;
        width: calc(100% + 20px);
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;

        @include media('<=sm') {
          display: none;
        }
      }

      @include media('<=sm') {
        font-size: 30px;
        line-height: 30px;
      }
    }

    .arrow {
      @include transition(300ms);

      @include media('<=sm') {
        display: block;
        margin-top: -15px;
        max-width: 50px;

        svg {
          width: 100%;
        }
      }
    }

    &:hover .arrow {
      @include transform(translateX(-10px));

      @include media('<=sm') {
        @include transform(translateX(10px));
      }
    }
  }
}
