.solutions__nav {
  background-color: #252236;
  padding: vw(22) 0 vw(18);
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  a {
    line-height: 1;
    font-size: vw(50);
    font-weight: bold;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-family: "BebasNeue";
    color: #B019D4;
    transition: all .3s ease;
    -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #B019D4;
    &:not(:last-child) {
      margin-right: vw(90);
    }
    &:hover, &.is_active {
      -webkit-text-fill-color: #B019D4;
    }
    /*&:not(.is_active):not(:hover) {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #B019D4;
    }*/
  }
}

.hero-solutions {
  padding: vw(200) 0 0;
  background-image: url(../images/cloud2.png);
  background-repeat: no-repeat;
  background-position: top vw(-430px) right vw(-277px);
  .hero-text {
    @include flexbox();
    h1 {
      font-size: vw(100);
      font-weight: bold;
      font-family: "BebasNeue";
      text-transform: uppercase;
      margin-bottom: vw(40);
      color: #fff;
    }
    h2 {
      font-size: vw(100);
      font-weight: bold;
      font-family: "BebasNeue";
      text-transform: uppercase;
      color: #B019D4;
    }
    h3 {
      color: #B019D4;
      font-size: vw(50);
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: vw(40);
    }
    p {
      color: #fff;
      font-size: vw(30);
      font-weight: bold;
      line-height: 1.33;
    }
  }
  .hero-text__left {
    width: 57%;
  }
  .hero-text__right {
    width: 43%;
    padding-top: vw(335);
  }
}

.hero-sep--vertical {
  height: vw(166);
  width: 2px;
  margin: vw(120) auto;
  background-color: #B019D4;
  border: none;
}

.hero-solution--single {
  padding: vw(180) 0;
  background-size: vw(1000px);
  background-repeat: no-repeat;
  background-position: top vw(-250px) right vw(-130px);
  .hero-text {
    max-width: vw(900);
    h1 {
      line-height: 1;
      margin-bottom: vw(50);
    }
    h2 {
      color: #fff;
      font-size: vw(100);
      font-weight: bold;
      margin-bottom: vw(60);
    }
    h3 {
      color: #B019D4;
      font-size: vw(50);
      font-weight: bold;
      line-height: 1.2;
    }
  }
}
