.client-stories-hero-section {
    padding-top: vw(173);
    padding-bottom: vw(200);
    background-position: top -250px left;
    background-repeat: no-repeat;
    position: relative;

    @include media('<=sm') {
        background-position: top -120px center;
        background-size: 100% auto;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .client-stories-hero-text {
        max-width: vw(595);
        margin-left: auto;
        margin-right: auto;

        span:first-child {
            display: block;
            margin-bottom: vw(20);
        }

        @include media('<=sm') {
            max-width: 100%;
        }
    }
}