.section-client-stories {
    margin-top: vw(123);
    padding-bottom: vw(115);
    margin-bottom: vw(150);
    position: relative;
    overflow: hidden;

    .diagonal-line {
        top: vw(30);
        @include transform(rotate(44deg));
    }

    .client-stories-wrapper {
        @include flexbox;
        @include align-items(stretch);
        height: vw(630);

        @include media('<=sm'){
            display: block;
            height: auto;
        }

        .clients-menu {
            @include flex(1);
            overflow: auto;

            @include media('<=sm'){
                height: 200px;
            }

            &::-webkit-scrollbar {
                width: 5px;
              }
              
              /* Track */
            &::-webkit-scrollbar-track {
                background: darken($purple, 30%); 
              }
               
              /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $purple; 
                border-radius: 3px;
              }
              
              /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: lighten($purple, 5%); 
              }

            a {
                @include transition(300ms);
            }

            a.active, a:hover {
                -webkit-text-fill-color: white;
                -webkit-text-stroke: 0;
            }

            li:not(:last-child) {
                margin-bottom: vw(10);
            }
        }
        .client-image {
            @include flex(1);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include media('<=sm'){
                display: block;
                content: '';
                height: 250px;
                margin-top: 20px;
            }
            
        }
    }
}