.about-top-section {
    padding-top: vw(145);
    .top-section-text {
        h1 {

            @include media('<=sm') {
                text-align: center;
            }

            span {
                position: relative;
                display: block;
                margin-top: vw(40);
                text-align: right;

                @include media('<=sm') {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    }

    .top-section-paragraph {
        padding-left: vw(90);
        margin-top: vw(215);
        color: white;

        @include media('<=sm') {
            padding-left: 0;
            margin-top: 10px;
        }

        p {
            font-size: vw(30);
            line-height: vw(40);
            font-weight: 900;

            @include media('<=sm') {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}

.about-top-intro {
    position: relative;
    margin-top: vw(125);
    margin-bottom: vw(350);

    @include media('<=sm') {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .line-vertical-center {
        top: - vw(110);

        @include media('<=sm') {
            top: 0;
        }
    }

    .smoke-wrapper {
        width: vw(1152);
        height: vw(696);
        content: '';
        display: block;
        background: url(../images/smoke-grey.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: - vw(387);
        left: - vw(200);
    }

    .text-bebas {
        position: relative;
        margin-top: vw(55);
        z-index: 10;
        color: white;
        margin-left: vw(80);
        span {
            display: block;
            margin-bottom: vw(50);

            &:first-child {
                opacity: .5;
            }
        }

        @include media('<=sm') {
            margin-left: 20px;
        }
    }

    .pink-wrapper-text {
        position: absolute;
        width: 50%;
        top: vw(93);
        background: $purple;
        mix-blend-mode: overlay;
        height: vw(679);

        @include media('<=sm') {
            top: 20px;
            height: 170px;
            width: 100%;
            left: 40px;
        }
    }

    .about-top-intro-image {
        margin-left: - vw(140);
        margin-right: 0;
        max-width: vw(919);

        @include media('<=sm') {
            max-width: 100%;
            margin-left: 0;
        }
    }
}