.about-stat-section {
    position: relative;
    padding-top: vw(323);

    @include media('<=sm') {
        padding-top: 100px;
    }

    .line-vertical-center {
        top: 0;
    }

    .about-stat-section-title {
        margin-left: 30vw;

        @include media('<=sm') {
            margin-left: 0;
            text-align: center;
        }

        .text-bebas {
            font-size: vw(150);
            line-height: vw(150);
            letter-spacing: 0;

            @include media('<=sm') {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }

    .stat-items-wrapper {
        margin-top: vw(107);

        @include media('<=sm') {
            margin-top: 30px;
        }
    }
}

.stat-items-wrapper {
    margin-bottom: vw(170);

    .stat-item {
        position: relative;
        padding-left: vw(300);
        margin-bottom: vw(100);
        @include flexbox;

        &:before {
            content: '';
            width: vw(242);
            height: 2px;
            background: $purple;
            position: absolute;
            left: 0;
            top: vw(50);
        }

        
        

        .label {
            width: vw(285);
            display: inline-block;
            position: relative;
            top: vw(20);
            margin-left: vw(47);
        }

        .dig-link {
            font-size: vw(30);
            font-weight: 900;
            margin-top: auto;
            margin-bottom: vw(10);
            margin-left: vw(30);

            @include media('<=sm') {
                font-size: 20px;
                margin-top: 10px;
                display: block;
                margin-left: 0;
                margin-bottom: 0;
            }
        }

        @include media('<=sm') {
            display: block;
            text-align: center;
            padding-left: 0;
            margin-bottom: 35px;

            .number {
                display: block;
            }

            .label {
                margin-left: 0;
                text-align: center;
                display: block;
                width: 100%;
                margin-top: 5px;
            }
        }
    }
}