.section-quote {
    position: relative;
    margin-top: vw(140);
    padding-top: vw(508);
    margin-bottom: vw(45);

    @include media('<=sm') {
        margin-top: 0;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .line-vertical-center {
        top: vw(197);

        @include media('<=sm') {
            display: none;
        }
    }

    p {
        margin-bottom: vw(45);
    }

    .skyscraper {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: vw(686);
        height: vw(913);
        opacity: .3;
        left: - vw(151);
        background: url(../images/skyscraper.png);
        background-position: top left;
        background-repeat: no-repeat;

        @include media('<=sm') {
            width: 200px;
            height: 200px;
            top: 0;
            position: relative;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            background-size: 100%;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}