.section-divided-text {
    .content-area {
        padding-left: vw(35);

        @include media('<=sm') {
            padding-left: 0;
            margin-top: 25px;
            margin-bottom: 35px;
        }
    }

    .divided-text-wrapper {
        margin-bottom: vw(90);

        &:last-child {
            margin-bottom: 0;
        }
        
        .text-bebas {
            margin-top: vw(23);
            span {
                display: block;
                margin-top: vw(33);
            }
        }
    }
}