/* ========================================================== */
/* 			            01. Variables                          */
/* ========================================================== */
$font-size-root:15px!default;
$font-size-vw-root:1440!default;
$grid-gutter:15px!default;
$grid-max-innerwidth: 1140px !default;
$grid-max-width: vw(1150px) !default;
$grid-max-width-sm: vw(1030px) !default;
$grid-max-width-sm_md: vw(1230px) !default;
$grid-columns: 12 !default;

/* ========================================================== */
/* 			            02. Colors                          */
/* ========================================================== */
$main-font-color:#2d3038!default;

$purple: #B019D4;

/* ========================================================== */
/* 			         03. Breakpoints                          */
/* ========================================================== */
$breakpoint-xs: 500px !default;
$breakpoint-sm: 767px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1200px !default;

$breakpoints: (
  '': false,
  'lg': $breakpoint-lg,
  'md': $breakpoint-md,
  'sm': $breakpoint-sm,
  'xs': $breakpoint-xs
);

