.case-study-client-quote {
    padding-bottom: vw(153);
    padding-top: vw(50);

    .quote-icon {
        @include media('<=sm') {
            width: 50px;
            display: block;

            svg {
                width: 100%;
                height: 50px;
            }
        }
    }

    .quote {
        text-align: center;
        margin-bottom: vw(165);
    }

    blockquote {
        margin: vw(15) auto 0;
        padding: 0;
        max-width: vw(970);
        font-weight: vw(18);
        line-height: vw(30);
        color: white;

        @include media('<=sm') {
            max-width: 100%;
        }

       cite {
           font-style: normal;
           font-size: vw(30);
           font-weight: bold;

           @include media('<=sm') {
                font-size: 20px;
           }
       }
    }
}