.case-study-hero-section {
    height: vw(631);
    background-size: cover;
    background-position: center;
    position: relative;

    @include media('<=sm') {
        height: auto;
        background-size: 100% auto;
        background-position: top center;
        background-repeat: no-repeat;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#1B1926,.65);
    }

    .case-study-hero-text {
        z-index: 1;
        position: relative;
        top: vw(260);
        max-width: vw(850);

        p {
            margin-left: vw(110);
            margin-top: vw(75);
        }

        @include media('<=sm') {
            max-width: 100%;
            p {
                margin-left: 0;
            }
        }
    }
}

.case-study-intro-section {
    padding-top: vw(395);
    position: relative;
    overflow: hidden;

    @include media('<=sm') {
        padding-top: 100px;
    }

    .line-vertical-center {
        top: vw(175);

        @include media('<=sm') {
            top: 60px;
        }
    }

    .diagonal-line {
        top: 0;
        right: vw(75);
    }
}