.case-study-stat-section {

    .stat-items-wrapper {
        margin-top: vw(145);
    }

    .case-study-stat-section-title {

        h2 {
            font-size: vw(150);
            line-height: vw(150);
        }
    }
}

.stat-items-wrapper.stat-items-wrapper--case-study {

    .stat-item {
        &:not(:last-child) {
            margin-bottom: vw(145);
        }
        

        .label {
            font-size: vw(30);
            line-height: vw(40);
            color: white;
            font-weight: bold;
            top: vw(10);
            margin-left: vw(65);

            @include media('<=sm') {
                font-size: 20px;
                line-height: 30px;
                margin: auto;
            }
        }

        &--style-1 {
            .label {
                width: vw(445);

                @include media('<=sm') {
                    width: 90%;
                }
            }
        }

        &--style-2 {
            @include flex-wrap(wrap);
            margin-bottom: vw(180);
            .label {
                margin-top: vw(35);
                width: vw(800);
                margin-left: vw(150);

                @include media('<=sm') {
                    width: 90%;
                    margin: auto;
                }
            }
        }

    }
    
}